openapi: 3.0.0
info:
    title: WildDuck API
    description: WildDuck API docs
    version: 1.0.0
    contact:
        url: 'https://github.com/nodemailer/wildduck'

servers:
    - url: 'https://api.wildduck.email'

tags:
    - name: Addresses
    - name: ApplicationPasswords
    - name: Archive
    - name: Audit
    - name: Authentication
    - name: Autoreplies
    - name: DKIM
    - name: DomainAccess
    - name: DomainAliases
    - name: Filters
    - name: Mailboxes
    - name: Messages
    - name: Storage
    - name: Submission
    - name: TwoFactorAuth
    - name: Users
    - name: Webhooks
paths:
    '/addresses/forwarded/{address}':
        delete:
            tags:
                - Addresses
            summary: Delete a forwarded Address
            operationId: deleteForwardedAddress
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        get:
            tags:
                - Addresses
            summary: Request forwarded Addresses information
            operationId: getForwardedAddress
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetForwardedAddressResponse'
        put:
            tags:
                - Addresses
            summary: Update forwarded Address information
            operationId: updateForwardedAddress
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateForwardedAddressRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: address
              in: path
              description: ID of the Address
              schema:
                  type: string
              required: true
    '/users/{user}/addresses/{address}':
        delete:
            tags:
                - Addresses
            summary: Delete an Address
            operationId: deleteUserAddress
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        get:
            tags:
                - Addresses
            summary: Request Addresses information
            operationId: getUserAddress
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetUserAddressResponse'
        put:
            tags:
                - Addresses
            summary: Update Address information
            operationId: updateUserAddress
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateUserAddressRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
            - name: address
              in: path
              description: ID of the Address
              required: true
              schema:
                  type: string
    '/addresses/resolve/{address}':
        get:
            tags:
                - Addresses
            summary: Get Address info
            operationId: resolveAddress
            parameters:
                - name: allowWildcard
                  in: query
                  description: If true then resolves also wildcard addresses
                  schema:
                      type: boolean
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResolveAddressResponse'
        parameters:
            - name: address
              in: path
              description: ID of the Address or e-mail address string
              required: true
              schema:
                  type: string
    /addresses:
        get:
            tags:
                - Addresses
            summary: List registered Addresses
            operationId: getAddresses
            parameters:
                - name: query
                  in: query
                  description: Partial match of an address
                  schema:
                      type: string
                - name: tags
                  in: query
                  description: Comma separated list of tags. The Address must have at least one to be set
                  schema:
                      type: string
                - name: requiredTags
                  in: query
                  description: Comma separated list of tags. The Address must have all listed tags to be set
                  schema:
                      type: string
                - name: metaData
                  in: query
                  description: 'If true, then includes metaData in the response'
                  schema:
                      type: boolean
                - name: internalData
                  in: query
                  description: 'If true, then includes internalData in the response. Not shown for user-role tokens.'
                  schema:
                      type: boolean
                - name: limit
                  in: query
                  description: How many records to return
                  schema:
                      type: number
                - name: page
                  in: query
                  description: 'Current page number. Informational only, page numbers start from 1'
                  schema:
                      type: number
                - name: next
                  in: query
                  description: 'Cursor value for next page, retrieved from nextCursor response value'
                  schema:
                      type: number
                - name: previous
                  in: query
                  description: 'Cursor value for previous page, retrieved from previousCursor response value'
                  schema:
                      type: number
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAddressesResponse'
    '/users/{user}/addresses':
        get:
            tags:
                - Addresses
            summary: List registered Addresses for a User
            operationId: getUserAddresses
            parameters:
                - name: metaData
                  in: query
                  description: 'If true, then includes metaData in the response'
                  schema:
                      type: boolean
                - name: internalData
                  in: query
                  description: 'If true, then includes internalData in the response. Not shown for user-role tokens.'
                  schema:
                      type: boolean
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetUserAddressesResponse'
        post:
            tags:
                - Addresses
            summary: Create new Address
            description: 'Add a new email address for a User. Addresses can contain unicode characters. Dots in usernames are normalized so no need to create both "firstlast@example.com" and "first.last@example.com" Special addresses `*@example.com`, `*suffix@example.com` and `username@*` catches all emails to these domains or users without a registered destination (requires allowWildcard argument)'
            operationId: createUserAddress
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateUserAddressRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateUserAddressResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/users/{user}/addressregister':
        get:
            tags:
                - Addresses
            summary: List addresses from communication register
            description: 'Lists addresses from email headers. Includes addresses both from sent and received messages. Sorted by last usage.'
            operationId: getUserAddressregister
            parameters:
                - name: user
                  in: path
                  description: ID of the User
                  required: true
                  schema:
                      type: string
                      example: 507f1f77bcf86cd799439011
                - name: query
                  in: query
                  description: Prefix of an address or a name
                  required: true
                  schema:
                      type: string
                      example: john
                - name: limit
                  in: query
                  description: How many records to return
                  schema:
                      type: number
                      example: 25
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetUserAddressesregisterResponse'
    /addresses/forwarded:
        post:
            tags:
                - Addresses
            summary: Create new forwarded Address
            description: Add a new forwarded email address. Addresses can contain unicode characters. Dots in usernames are normalized so no need to create both "firstlast@example.com" and "first.last@example.com" Special addresses `*@example.com` and `username@*` catches all emails to these domains or users without a registered destination (requires allowWildcard argument)
            operationId: createForwardedAddress
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateForwardedAddressRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateForwardedAddressResponse'
    /addresses/renameDomain:
        put:
            tags:
                - Addresses
            summary: Rename domain in addresses
            description: 'Renames domain names for addresses, DKIM keys and Domain Aliases'
            operationId: renameDomain
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RenameDomainRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
    '/users/{user}/asps/{asp}':
        delete:
            tags:
                - ApplicationPasswords
            summary: Delete an Application Password
            operationId: deleteASP
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        get:
            tags:
                - ApplicationPasswords
            summary: Request ASP information
            operationId: getASP
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetASPResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
            - name: asp
              in: path
              description: ID of the Application Password
              required: true
              schema:
                  type: string
    '/users/{user}/asps':
        get:
            tags:
                - ApplicationPasswords
            summary: List Application Passwords
            operationId: getASPs
            parameters:
                - name: showAll
                  in: query
                  description: If not true then skips entries with a TTL set
                  schema:
                      type: boolean
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetASPsResponse'
        post:
            tags:
                - ApplicationPasswords
            summary: Create new Application Password
            operationId: createASP
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateASPRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateASPResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/users/{user}/archived/messages':
        get:
            tags:
                - Archive
            summary: List archived messages
            description: Archive contains all recently deleted messages besides Drafts etc.
            operationId: getArchivedMessages
            parameters:
                - name: limit
                  in: query
                  description: How many records to return
                  schema:
                      type: number
                - name: page
                  in: query
                  description: 'Current page number. Informational only, page numbers start from 1'
                  schema:
                      type: number
                - name: order
                  in: query
                  description: Ordering of the records by insert date
                  schema:
                      type: number
                - name: next
                  in: query
                  description: 'Cursor value for next page, retrieved from nextCursor response value'
                  schema:
                      type: number
                - name: previous
                  in: query
                  description: 'Cursor value for previous page, retrieved from previousCursor response value'
                  schema:
                      type: number
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetArchivedMessagesResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/users/{user}/archived/messages/{message}/restore':
        post:
            tags:
                - Archive
            summary: Restore archived Message
            description: 'Restores a single archived message by moving it back to the mailbox it was deleted from or to provided target mailbox. If target mailbox does not exist, then the message is moved to INBOX.'
            operationId: restoreMessage
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RestoreMessageRequest'
                required: false
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RestoreMessageResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
            - name: message
              in: path
              description: Message ID
              required: true
              schema:
                  type: number
    '/users/{user}/archived/restore':
        post:
            tags:
                - Archive
            summary: Restore archived messages
            description: 'Initiates a restore task to move archived messages of a date range back to the mailboxes the messages were deleted from. If target mailbox does not exist, then the messages are moved to INBOX.'
            operationId: restoreMessages
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RestoreMessagesRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/audit/{audit}':
        get:
            tags:
                - Audit
            summary: Request Audit Info
            description: This method returns information about stored audit
            operationId: getAudit
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAuditResponse'
        parameters:
            - name: audit
              in: path
              description: ID of the Audit
              required: true
              schema:
                  type: string
    '/audit/{audit}/export.mbox':
        get:
            tags:
                - Audit
            summary: Export Audited Emails
            description: This method returns a mailbox file that contains all audited emails
            operationId: getAuditEmails
            responses:
                '200':
                    description: Success
        parameters:
            - name: audit
              in: path
              description: ID of the Audit
              required: true
              schema:
                  type: string
    /audit:
        post:
            tags:
                - Audit
            summary: Create new audit
            description: Initiates a message audit
            operationId: createAudit
            requestBody:
                description: Initiates a message audit
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateAuditRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateAuditResponse'
    /authenticate:
        delete:
            tags:
                - Authentication
            summary: Invalidate authentication token
            description: This method invalidates currently used authentication token. If token is not provided then nothing happens
            operationId: invalidateAccessToken
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        post:
            tags:
                - Authentication
            summary: Authenticate a User
            operationId: authenticate
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AuthenticateRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AuthenticateResponse'
    '/users/{user}/authlog':
        get:
            tags:
                - Authentication
            summary: List authentication Events
            operationId: getAuthlog
            parameters:
                - name: action
                  in: query
                  description: Limit listing only to values with specific action value
                  schema:
                      type: string
                - name: filterIp
                  in: query
                  description: Limit listing only to values with specific IP address
                  schema:
                      type: string
                - name: limit
                  in: query
                  description: How many records to return
                  schema:
                      type: number
                - name: page
                  in: query
                  description: 'Current page number. Informational only, page numbers start from 1'
                  schema:
                      type: number
                - name: next
                  in: query
                  description: 'Cursor value for next page, retrieved from nextCursor response value'
                  schema:
                      type: number
                - name: previous
                  in: query
                  description: 'Cursor value for previous page, retrieved from previousCursor response value'
                  schema:
                      type: number
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAuthlogResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/users/{user}/authlog/{event}':
        get:
            tags:
                - Authentication
            summary: Request Event information
            operationId: getAuthlogEvent
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAuthlogEventResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
            - name: event
              in: path
              description: ID of the Event
              required: true
              schema:
                  type: string
    '/users/{user}/autoreply':
        delete:
            tags:
                - Autoreplies
            summary: Delete Autoreply information
            operationId: deleteAutoreply
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        get:
            tags:
                - Autoreplies
            summary: Request Autoreply information
            operationId: getAutoreply
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAutoreplyResponse'
        put:
            tags:
                - Autoreplies
            summary: Update Autoreply information
            operationId: updateAutoreply
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateAutoreplyRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/dkim/{dkim}':
        delete:
            tags:
                - DKIM
            summary: Delete a DKIM key
            operationId: deleteDkimKey
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        get:
            tags:
                - DKIM
            summary: Request DKIM information
            operationId: getDkimKey
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetDkimKeyResponse'
        parameters:
            - name: dkim
              in: path
              description: ID of the DKIM
              required: true
              schema:
                  type: string
    /dkim:
        get:
            tags:
                - DKIM
            summary: List registered DKIM keys
            operationId: getDkimKeys
            parameters:
                - name: query
                  in: query
                  description: Partial match of a Domain name
                  schema:
                      type: string
                - name: limit
                  in: query
                  description: How many records to return
                  schema:
                      type: number
                - name: page
                  in: query
                  description: 'Current page number. Informational only, page numbers start from 1'
                  schema:
                      type: number
                - name: next
                  in: query
                  description: 'Cursor value for next page, retrieved from nextCursor response value'
                  schema:
                      type: number
                - name: previous
                  in: query
                  description: 'Cursor value for previous page, retrieved from previousCursor response value'
                  schema:
                      type: number
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetDkimKeysResponse'
        post:
            tags:
                - DKIM
            summary: Create or update DKIM key for domain
            description: Add a new DKIM key for a Domain or update existing one. There can be single DKIM key registered for each domain name.
            operationId: updateDkimKey
            requestBody:
                description: Add a new DKIM key for a Domain or update existing one. There can be single DKIM key registered for each domain name.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateDkimKeyRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UpdateDkimKeyResponse'
    '/dkim/resolve/{domain}':
        get:
            tags:
                - DKIM
            summary: Resolve ID for a DKIM domain
            operationId: resolveDkim
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResolveDkimResponse'
        parameters:
            - name: domain
              in: path
              description: DKIM domain
              required: true
              schema:
                  type: string
    '/domainaccess/{domain}':
        delete:
            tags:
                - DomainAccess
            summary: Delete a Domain from listing
            operationId: deleteDomainListing
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: domain
              in: path
              description: Listed domains unique ID
              required: true
              schema:
                  type: string
    '/domainaccess/{tag}/allow':
        get:
            tags:
                - DomainAccess
            summary: List allowlisted domains
            operationId: getAllowedDomain
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAllowedDomainResponse'
        post:
            tags:
                - DomainAccess
            summary: Add domain to allowlist
            description: If an email is sent from a domain that is listed in the allowlist then it is never marked as spam. Lists apply for tagged users.
            operationId: createAllowedDomain
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateAllowedDomainRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateAllowedDomainResponse'
        parameters:
            - name: tag
              in: path
              description: Tag to look for
              required: true
              schema:
                  type: string
    '/domainaccess/{tag}/block':
        get:
            tags:
                - DomainAccess
            summary: List blocklisted domains
            operationId: getBlockedDomain
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetBlockedDomainResponse'
        post:
            tags:
                - DomainAccess
            summary: Add domain to blocklist
            description: If an email is sent from a domain that is listed in the blocklist then it is always marked as spam. Lists apply for tagged users.
            operationId: createBlockedDomain
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateBlockedDomainRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateBlockedDomainResponse'
        parameters:
            - name: tag
              in: path
              description: Tag to look for
              required: true
              schema:
                  type: string
    '/domainaliases/{alias}':
        delete:
            tags:
                - DomainAliases
            summary: Delete an Alias
            operationId: deleteDomainAlias
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        get:
            tags:
                - DomainAliases
            summary: Request Alias information
            operationId: getDomainAlias
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetDomainAliasResponse'
        parameters:
            - name: alias
              in: path
              description: ID of the Alias
              required: true
              schema:
                  type: string
    /domainaliases:
        get:
            tags:
                - DomainAliases
            summary: List registered Domain Aliases
            operationId: getDomainAliases
            parameters:
                - name: query
                  in: query
                  description: Partial match of a Domain Alias or Domain name
                  schema:
                      type: string
                - name: limit
                  in: query
                  description: How many records to return
                  schema:
                      type: number
                - name: page
                  in: query
                  description: 'Current page number. Informational only, page numbers start from 1'
                  schema:
                      type: number
                - name: next
                  in: query
                  description: 'Cursor value for next page, retrieved from nextCursor response value'
                  schema:
                      type: number
                - name: previous
                  in: query
                  description: 'Cursor value for previous page, retrieved from previousCursor response value'
                  schema:
                      type: number
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetDomainAliasesResponse'
        post:
            tags:
                - DomainAliases
            summary: Create new Domain Alias
            description: Add a new Alias for a Domain. This allows to accept mail on username@domain and username@alias
            operationId: createDomainAlias
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateDomainAliasRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateDomainAliasResponse'
    '/domainaliases/resolve/{alias}':
        get:
            tags:
                - DomainAliases
            summary: Resolve ID for a domain aias
            operationId: resolveDomainAlias
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResolveDomainAliasResponse'
        parameters:
            - name: alias
              in: path
              description: Alias domain
              required: true
              schema:
                  type: string
    '/users/{user}/filters/{filter}':
        delete:
            tags:
                - Filters
            summary: Delete a Filter
            operationId: deleteFilter
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        get:
            tags:
                - Filters
            summary: Request Filter information
            operationId: getFilter
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetFilterResponse'
        put:
            tags:
                - Filters
            summary: Update Filter information
            description: 'This method updates Filter data. To unset a value, use empty strings'
            operationId: updateFilter
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateFilterRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UpdateFilterResponse'
        parameters:
            - name: user
              in: path
              description: Users unique ID
              required: true
              schema:
                  type: string
            - name: filter
              in: path
              description: Filters unique ID
              required: true
              schema:
                  type: string
    '/users/{user}/filters':
        get:
            tags:
                - Filters
            summary: List Filters for a User
            operationId: getFilters
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetFiltersResponse'
        post:
            tags:
                - Filters
            summary: Create new Filter
            operationId: createFilter
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateFilterRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UpdateFilterResponse'
        parameters:
            - name: user
              in: path
              description: Users unique ID
              required: true
              schema:
                  type: string
    '/users/{user}/mailboxes/{mailbox}':
        delete:
            tags:
                - Mailboxes
            summary: Delete a Mailbox
            operationId: deleteMailbox
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        get:
            tags:
                - Mailboxes
            summary: Request Mailbox information
            operationId: getMailbox
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetMailboxResponse'
        put:
            tags:
                - Mailboxes
            summary: Update Mailbox information
            operationId: updateMailbox
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateMailboxRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: user
              in: path
              description: Users unique ID
              required: true
              schema:
                  type: string
            - name: mailbox
              in: path
              description: Mailbox unique ID. Special use folders and INBOX can not be deleted
              required: true
              schema:
                  type: string
    '/users/{user}/mailboxes':
        get:
            tags:
                - Mailboxes
            summary: List Mailboxes for a User
            operationId: getMailboxes
            parameters:
                - name: specialUse
                  in: query
                  description: Should the response include only folders with specialUse flag set.
                  schema:
                      type: boolean
                - name: showHidden
                  in: query
                  description: Hidden folders are not included in the listing by default.
                  schema:
                      type: boolean
                - name: counters
                  in: query
                  description: Should the response include counters (total + unseen). Counters come with some overhead.
                  schema:
                      type: boolean
                - name: sizes
                  in: query
                  description: Should the response include mailbox size in bytes. Size numbers come with a lot of overhead as an aggregated query is ran.
                  schema:
                      type: boolean
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetMailboxesResponse'
        post:
            tags:
                - Mailboxes
            summary: Create new Mailbox
            operationId: createMailbox
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateMailboxRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateMailboxResponse'
        parameters:
            - name: user
              in: path
              description: Users unique ID
              required: true
              schema:
                  type: string
    '/users/{user}/mailboxes/{mailbox}/messages/{message}':
        delete:
            tags:
                - Messages
            summary: Delete a Message
            operationId: deleteMessage
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        get:
            tags:
                - Messages
            summary: Request Message information
            operationId: getMessage
            parameters:
                - name: markAsSeen
                  in: query
                  description: If true then marks message as seen
                  schema:
                      type: boolean
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetMessageResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
            - name: mailbox
              in: path
              description: ID of the Mailbox
              required: true
              schema:
                  type: string
            - name: message
              in: path
              description: Message ID
              required: true
              schema:
                  type: number
    '/users/{user}/mailboxes/{mailbox}/messages':
        delete:
            tags:
                - Messages
            summary: Delete all Messages from a Mailbox
            operationId: deleteMessagesInMailbox
            parameters:
                - name: async
                  in: query
                  description: Schedule deletion task
                  schema:
                      type: boolean
                      default: false
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DeleteMessagesInMailboxResponse'
        get:
            tags:
                - Messages
            summary: List messages in a Mailbox
            operationId: getMessages
            parameters:
                - name: unseen
                  in: query
                  description: 'If true, then returns only unseen messages'
                  schema:
                      type: number
                - name: metaData
                  in: query
                  description: 'If true, then includes metaData in the response'
                  schema:
                      type: boolean
                - name: limit
                  in: query
                  description: How many records to return
                  schema:
                      type: number
                - name: page
                  in: query
                  description: 'Current page number. Informational only, page numbers start from 1'
                  schema:
                      type: number
                - name: order
                  in: query
                  description: Ordering of the records by insert date
                  schema:
                      type: number
                - name: next
                  in: query
                  description: 'Cursor value for next page, retrieved from nextCursor response value'
                  schema:
                      type: number
                - name: previous
                  in: query
                  description: 'Cursor value for previous page, retrieved from previousCursor response value'
                  schema:
                      type: number
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetMessagesResponse'
        put:
            tags:
                - Messages
            summary: Update Message information
            description: This method updates message flags and also allows to move messages to a different mailbox
            operationId: updateMessage
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateMessageRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UpdateMessageResponse'
        post:
            tags:
                - Messages
            summary: Upload Message
            description: 'This method allows to upload either an RFC822 formatted message or a message structure to a mailbox. Raw message is stored unmodified, no headers are added or removed. If you want to generate the uploaded message from structured data fields, then do not use the raw property.'
            operationId: uploadMessage
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UploadMessageRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UploadMessageResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
            - name: mailbox
              in: path
              description: ID of the Mailbox
              required: true
              schema:
                  type: string
    '/users/{user}/mailboxes/{mailbox}/messages/{message}/forward':
        post:
            tags:
                - Messages
            summary: Forward stored Message
            description: This method allows either to re-forward a message to an original forward target or forward it to some other address. This is useful if a user had forwarding turned on but the message was not delivered so you can try again. Forwarding does not modify the original message.
            operationId: forwardStoredMessage
            requestBody:
                description: This method allows either to re-forward a message to an original forward target or forward it to some other address. This is useful if a user had forwarding turned on but the message was not delivered so you can try again. Forwarding does not modify the original message.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ForwardStoredMessageRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForwardStoredMessageResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
            - name: mailbox
              in: path
              description: ID of the Mailbox
              required: true
              schema:
                  type: string
            - name: message
              in: path
              description: Message ID
              required: true
              schema:
                  type: number
    '/users/{user}/mailboxes/{mailbox}/messages/{message}/attachments/{attachment}':
        get:
            tags:
                - Messages
            summary: Download Attachment
            description: This method returns attachment file contents in binary form
            operationId: getMessageAttachment
            responses:
                '200':
                    description: Success
                    content:
                        application/octet-stream:
                            schema:
                                type: string
                                description: Success
                                format: binary
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
            - name: mailbox
              in: path
              description: ID of the Mailbox
              required: true
              schema:
                  type: string
            - name: message
              in: path
              description: ID of the Message
              required: true
              schema:
                  type: number
            - name: attachment
              in: path
              description: ID of the Attachment
              required: true
              schema:
                  type: string
    '/users/{user}/mailboxes/{mailbox}/messages/{message}/message.eml':
        get:
            tags:
                - Messages
            summary: Get Message source
            description: This method returns the full RFC822 formatted source of the stored message
            operationId: getMessageSource
            responses:
                '200':
                    description: Success
                    content:
                        text/plain:
                            schema:
                                type: object
                                description: Success
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
            - name: mailbox
              in: path
              description: ID of the Mailbox
              required: true
              schema:
                  type: string
            - name: message
              in: path
              description: ID of the Message
              required: true
              schema:
                  type: number
    '/users/{user}/outbound/{queueId}':
        delete:
            tags:
                - Messages
            summary: Delete an Outbound Message
            description: You can delete outbound emails that are still in queue. Queue ID can be found from the `outbound` property of a stored email.
            operationId: deleteOutboundMessage
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
            - name: queueId
              in: path
              description: Outbound queue ID of the message
              required: true
              schema:
                  type: string

    '/users/{user}/search':
        get:
            tags:
                - Messages
            summary: Search for messages
            operationId: searchMessages
            parameters:
                - name: mailbox
                  in: query
                  description: ID of the Mailbox
                  schema:
                      type: string
                - name: thread
                  in: query
                  description: Thread ID
                  schema:
                      type: string
                - name: query
                  in: query
                  description: 'Search string, uses MongoDB fulltext index. Covers data from mesage body and also common headers like from, to, subject etc.'
                  schema:
                      type: string
                - name: datestart
                  in: query
                  description: Datestring for the earliest message storing time
                  schema:
                      type: string
                      format: date-time
                - name: dateend
                  in: query
                  description: Datestring for the latest message storing time
                  schema:
                      type: string
                      format: date-time
                - name: from
                  in: query
                  description: 'Partial match for the From: header line'
                  schema:
                      type: string
                - name: to
                  in: query
                  description: 'Partial match for the To: and Cc: header lines'
                  schema:
                      type: string
                - name: subject
                  in: query
                  description: 'Partial match for the Subject: header line'
                  schema:
                      type: string
                - name: attachments
                  in: query
                  description: 'If true, then matches only messages with attachments'
                  schema:
                      type: boolean
                - name: flagged
                  in: query
                  description: 'If true, then matches only messages with \Flagged flags'
                  schema:
                      type: boolean
                - name: unseen
                  in: query
                  description: 'If true, then matches only messages without \Seen flags'
                  schema:
                      type: boolean
                - name: searchable
                  in: query
                  description: 'If true, then matches messages not in Junk or Trash'
                  schema:
                      type: boolean
                - name: or.query
                  in: query
                  description: 'Search string, uses MongoDB fulltext index. Covers data from mesage body and also common headers like from, to, subject etc.'
                  schema:
                      type: string
                - name: or.from
                  in: query
                  description: 'Partial match for the From: header line'
                  schema:
                      type: string
                - name: or.to
                  in: query
                  description: 'Partial match for the To: and Cc: header lines'
                  schema:
                      type: string
                - name: or.subject
                  in: query
                  description: 'Partial match for the Subject: header line'
                  schema:
                      type: string
                - name: minSize
                  in: query
                  description: Minimal message size in bytes
                  schema:
                      type: number
                - name: maxSize
                  in: query
                  description: Maximal message size in bytes
                  schema:
                      type: number
                - name: limit
                  in: query
                  description: How many records to return
                  schema:
                      type: number
                - name: page
                  in: query
                  description: 'Current page number. Informational only, page numbers start from 1'
                  schema:
                      type: number
                - name: next
                  in: query
                  description: 'Cursor value for next page, retrieved from nextCursor response value'
                  schema:
                      type: number
                - name: previous
                  in: query
                  description: 'Cursor value for previous page, retrieved from previousCursor response value'
                  schema:
                      type: number
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SearchMessagesResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/users/{user}/mailboxes/{mailbox}/messages/{message}/submit':
        post:
            tags:
                - Messages
            summary: Submit Draft for delivery
            description: This method allows to submit a draft message for delivery. Draft is moved to Sent mail folder.
            operationId: submitStoredMessage
            requestBody:
                description: This method allows to submit a draft message for delivery. Draft is moved to Sent mail folder.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SubmitStoredMessageRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SubmitStoredMessageResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
            - name: mailbox
              in: path
              description: ID of the Mailbox
              required: true
              schema:
                  type: string
            - name: message
              in: path
              description: Message ID
              required: true
              schema:
                  type: number
    '/users/{user}/storage/{file}':
        delete:
            tags:
                - Storage
            summary: Delete a File
            operationId: deleteFile
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        get:
            tags:
                - Storage
            summary: Download File
            description: This method returns stored file contents in binary form
            operationId: getFile
            responses:
                '200':
                    description: Success
                    content:
                        application/octet-stream:
                            schema:
                                type: string
                                description: Success
                                format: binary
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
            - name: file
              in: path
              description: ID of the File
              required: true
              schema:
                  type: string
    '/users/{user}/storage':
        get:
            tags:
                - Storage
            summary: List stored files
            operationId: getFiles
            parameters:
                - name: query
                  in: query
                  description: Partial match of a filename
                  schema:
                      type: string
                - name: limit
                  in: query
                  description: How many records to return
                  schema:
                      type: number
                - name: page
                  in: query
                  description: 'Current page number. Informational only, page numbers start from 1'
                  schema:
                      type: number
                - name: next
                  in: query
                  description: 'Cursor value for next page, retrieved from nextCursor response value'
                  schema:
                      type: number
                - name: previous
                  in: query
                  description: 'Cursor value for previous page, retrieved from previousCursor response value'
                  schema:
                      type: number
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetFilesResponse'
        post:
            tags:
                - Storage
            summary: Upload File
            description: This method allows to upload an attachment to be linked from a draft
            operationId: uploadFile
            requestBody:
                content:
                    multipart/form-data:
                        encoding: {}
                        schema:
                            required:
                                - body
                            type: object
                            properties:
                                body:
                                    type: string
                                    format: binary
                required: false
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UploadFileResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/users/{user}/submit':
        post:
            tags:
                - Submission
            summary: Submit a Message for Delivery
            description: Use this method to send emails from a user account
            operationId: submitMessage
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SubmitMessageRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SubmitMessageResponse'
        parameters:
            - name: user
              in: path
              description: Users unique ID
              required: true
              schema:
                  type: string
    '/users/{user}/2fa/totp/check':
        post:
            tags:
                - TwoFactorAuth
            summary: Validate TOTP Token
            description: This method checks if a TOTP token provided by a User is valid for authentication
            operationId: checkTotp2FA
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CheckTotp2FARequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/users/{user}/2fa':
        delete:
            tags:
                - TwoFactorAuth
            summary: Disable 2FA
            description: This method disables all 2FA mechanisms a user might have set up
            operationId: disable2FA
            parameters:
                - name: sess
                  in: query
                  description: Session identifier for the logs
                  schema:
                      type: string
                - name: ip
                  in: query
                  description: IP address for the logs
                  schema:
                      type: string
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/users/{user}/2fa/custom':
        delete:
            tags:
                - TwoFactorAuth
            summary: Disable custom 2FA for a user
            description: 'This method disables custom 2FA. If it was the only 2FA set up, then account password for IMAP/POP3/SMTP gets enabled again'
            operationId: disableCustom2FA
            parameters:
                - name: sess
                  in: query
                  description: Session identifier for the logs
                  schema:
                      type: string
                - name: ip
                  in: query
                  description: IP address for the logs
                  schema:
                      type: string
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        put:
            tags:
                - TwoFactorAuth
            summary: Enable custom 2FA for a user
            description: This method disables account password for IMAP/POP3/SMTP
            operationId: enableCustom2FA
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/EnableCustom2FARequest'
                required: false
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/users/{user}/2fa/totp':
        delete:
            tags:
                - TwoFactorAuth
            summary: Disable TOTP auth
            description: This method disables TOTP for a user. Does not affect other 2FA mechanisms a user might have set up
            operationId: disableTotp2FA
            parameters:
                - name: sess
                  in: query
                  description: Session identifier for the logs
                  schema:
                      type: string
                - name: ip
                  in: query
                  description: IP address for the logs
                  schema:
                      type: string
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/users/{user}/2fa/totp/enable':
        post:
            tags:
                - TwoFactorAuth
            summary: Enable TOTP seed
            description: This method enables TOTP for a user by verifying the seed value generated from 2fa/totp/setup
            operationId: enableTotp2FA
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/EnableTotp2FARequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/users/{user}/2fa/totp/setup':
        post:
            tags:
                - TwoFactorAuth
            summary: Generate TOTP seed
            description: This method generates TOTP seed and QR code for 2FA. User needs to verify the seed value using 2fa/totp/enable endpoint
            operationId: setupTotp2FA
            requestBody:
                description: This method generates TOTP seed and QR code for 2FA. User needs to verify the seed value using 2fa/totp/enable endpoint
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SetupTotp2FARequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SetupTotp2FAResponse'
        parameters:
            - name: user
              in: path
              description: ID of the User
              required: true
              schema:
                  type: string
    '/users/{id}':
        delete:
            tags:
                - Users
            summary: Delete a User
            description: 'This method deletes user and address entries from DB and schedules a background task to delete messages. You can call this method several times even if the user has already been deleted, in case there are still some pending messages.'
            operationId: deleteUser
            parameters:
                - name: deleteAfter
                  description: Delete user entry from registry but keep all user data until provided date. User account is fully recoverable up to that date.
                  in: query
                  schema:
                      type: string
                      format: date-time
                - name: sess
                  in: query
                  description: Session identifier for the logs
                  schema:
                      type: string
                - name: ip
                  in: query
                  description: IP address for the logs
                  schema:
                      type: string
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        get:
            tags:
                - Users
            summary: Request User information
            operationId: getUser
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetUserResponse'
        put:
            tags:
                - Users
            summary: Update User information
            operationId: updateUser
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateUserRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: id
              in: path
              description: Users unique ID.
              required: true
              schema:
                  type: string
    '/users/{id}/updates':
        get:
            tags:
                - Users
            summary: Open change stream
            description: This api call returns an EventSource response. Listen on this stream to get notifications about changes in messages and mailboxes. Returned events are JSON encoded strings
            operationId: getUpdates
            responses:
                '200':
                    description: Success
                    content:
                        text/event-stream:
                            schema:
                                type: string
                                description: Success
        parameters:
            - name: id
              in: path
              description: Users unique ID.
              required: true
              schema:
                  type: string
    '/users/resolve/{username}':
        get:
            tags:
                - Users
            summary: Resolve ID for a username
            operationId: resolveUser
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResolveUserResponse'
        parameters:
            - name: username
              in: path
              description: 'Username of the User. Alphanumeric value. Must start with a letter, dots are allowed but informational only ("user.name" is the same as "username")'
              required: true
              schema:
                  type: string

    '/users/{id}/restore':
        post:
            tags:
                - Users
            summary: Cancel user deletion task
            description: 'Use this endpoint to cancel a timed deletion task scheduled by `DELETE /user/{id}`. If user data is not yet deleted then the account is fully recovered, except any email addresses that might have been already recycled'
            operationId: restoreUser

            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UserRestoreRequest'
                required: true

            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: id
              in: path
              description: Users unique ID.
              required: true
              schema:
                  type: string
    /users:
        get:
            tags:
                - Users
            summary: List registered Users
            operationId: getUsers
            parameters:
                - name: query
                  in: query
                  description: Partial match of username or default email address
                  schema:
                      type: string
                - name: tags
                  in: query
                  description: Comma separated list of tags. The User must have at least one to be set
                  schema:
                      type: string
                - name: requiredTags
                  in: query
                  description: Comma separated list of tags. The User must have all listed tags to be set
                  schema:
                      type: string
                - name: metaData
                  in: query
                  description: 'If true, then includes metaData in the response'
                  schema:
                      type: boolean
                - name: internalData
                  in: query
                  description: 'If true, then includes internalData in the response. Not shown for user-role tokens.'
                  schema:
                      type: boolean
                - name: limit
                  in: query
                  description: How many records to return
                  schema:
                      type: number
                - name: page
                  in: query
                  description: 'Current page number. Informational only, page numbers start from 1'
                  schema:
                      type: number
                - name: next
                  in: query
                  description: 'Cursor value for next page, retrieved from nextCursor response value'
                  schema:
                      type: number
                - name: previous
                  in: query
                  description: 'Cursor value for previous page, retrieved from previousCursor response value'
                  schema:
                      type: number
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetUsersResponse'
        post:
            tags:
                - Users
            summary: Create new user
            operationId: createUser
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateUserRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateUserResponse'
    '/users/{user}/quota/reset':
        post:
            tags:
                - Users
            summary: Recalculate User quota
            description: 'This method recalculates quota usage for a User. Normally not needed, only use it if quota numbers are way off. This method is not transactional, so if the user is currently receiving new messages then the resulting value is not exact.'
            operationId: recalculateQuota
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RecalculateQuotaResponse'
        parameters:
            - name: user
              in: path
              description: Users unique ID.
              required: true
              schema:
                  type: string
    /quota/reset:
        post:
            tags:
                - Users
            summary: Recalculate Quota for all Users
            description: 'This method recalculates quota usage for all Users. Normally not needed, only use it if quota numbers are way off. This method is not transactional, so if the user is currently receiving new messages then the resulting value is not exact.'
            operationId: recalculateQuotaAllUsers
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
    '/users/{id}/logout':
        put:
            tags:
                - Users
            summary: Log out User
            description: This method logs out all user sessions in IMAP
            operationId: logoutUser
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/LogoutUserRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: id
              in: path
              description: Users unique ID.
              required: true
              schema:
                  type: string
    '/users/{id}/password/reset':
        post:
            tags:
                - Users
            summary: Reset password for a User
            description: This method generates a new temporary password for a User. Additionally it removes all two-factor authentication settings
            operationId: resetUserPassword
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ResetUserPasswordRequest'
                required: false
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResetUserPasswordResponse'
        parameters:
            - name: id
              in: path
              description: Users unique ID.
              required: true
              schema:
                  type: string
    '/webhooks/{webhook}':
        delete:
            tags:
                - Webhooks
            summary: Delete a webhook
            operationId: deleteWebhook
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
        parameters:
            - name: webhook
              in: path
              description: ID of the Webhook
              required: true
              schema:
                  type: string
    /webhooks:
        get:
            tags:
                - Webhooks
            summary: List registered Webhooks
            operationId: getWebhooks
            parameters:
                - name: type
                  in: query
                  description: 'Prefix or exact match. Prefix match must end with ".*", eg "channel.*". Use "*" for all types'
                  required: true
                  schema:
                      type: string
                - name: user
                  in: query
                  description: User ID
                  schema:
                      type: string
                - name: limit
                  in: query
                  description: How many records to return
                  schema:
                      type: number
                - name: page
                  in: query
                  description: 'Current page number. Informational only, page numbers start from 1'
                  schema:
                      type: number
                - name: next
                  in: query
                  description: 'Cursor value for next page, retrieved from nextCursor response value'
                  schema:
                      type: number
                - name: previous
                  in: query
                  description: 'Cursor value for previous page, retrieved from previousCursor response value'
                  schema:
                      type: number
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetWebhooksResponse'
        post:
            tags:
                - Webhooks
            summary: Create new Webhook
            description: Create new webhook
            operationId: createWebhook
            requestBody:
                description: Create new webhook
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateWebhookRequest'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateWebhookResponse'
components:
    schemas:
        AddressLimits:
            required:
                - forwards
            type: object
            properties:
                forwards:
                    $ref: '#/components/schemas/Forwards'
            description: Account limits and usage
        AutoreplyInfo:
            required:
                - status
                - name
                - subject
                - text
                - html
            type: object
            properties:
                status:
                    type: boolean
                    description: 'If true, then autoreply is enabled for this address'
                name:
                    type: string
                    description: 'Name that is used for the From: header in autoreply message'
                subject:
                    type: string
                    description: Autoreply subject line
                text:
                    type: string
                    description: Autoreply plaintext content
                html:
                    type: string
                    description: Autoreply HTML content
            description: Autoreply information
        Autoreply:
            type: object
            properties:
                status:
                    type: boolean
                    description: 'If true, then autoreply is enabled for this address'
                start:
                    type: string
                    format: date-time
                    description: Either a date string or boolean false to disable start time checks
                end:
                    type: string
                    format: date-time
                    description: Either a date string or boolean false to disable end time checks
                name:
                    type: string
                    description: 'Name that is used for the From: header in autoreply message'
                subject:
                    type: string
                    description: Autoreply subject line
                text:
                    type: string
                    description: Autoreply plaintext content
                html:
                    type: string
                    description: Autoreply HTML content
            description: Autoreply information
        LastUse:
            required:
                - time
                - event
            type: object
            properties:
                time:
                    type: string
                    description: Datestring of last use or false if password has not been used
                    format: date-time
                event:
                    type: string
                    description: Event ID of the security log for the last authentication
            description: Information about last use
        ContentType:
            required:
                - value
                - params
            type: object
            properties:
                value:
                    type: string
                    description: 'MIME type of the message, eg. "multipart/mixed"'
                params:
                    type: object
                    description: An object with Content-Type params as key-value pairs
            description: Parsed Content-Type header. Usually needed to identify encrypted messages and such
        DnsTxt:
            required:
                - name
                - value
            type: object
            properties:
                name:
                    type: string
                    description: Is the domain name of TXT
                value:
                    type: string
                    description: Is the value of TXT
            description: Value for DNS TXT entry
        Query:
            type: object
            properties:
                from:
                    type: string
                    description: 'Partial match for the From: header (case insensitive)'
                to:
                    type: string
                    description: 'Partial match for the To:/Cc: headers (case insensitive)'
                subject:
                    type: string
                    description: 'Partial match for the Subject: header (case insensitive)'
                listId:
                    type: string
                    description: 'Partial match for the List-ID: header (case insensitive)'
                text:
                    type: string
                    description: Fulltext search against message text
                ha:
                    type: boolean
                    description: Does a message have to have an attachment or not
                size:
                    type: number
                    description: 'Message size in bytes. If the value is a positive number then message needs to be larger, if negative then message needs to be smaller than abs(size) value'
            description: Rules that a message must match
        Action:
            type: object
            properties:
                seen:
                    type: boolean
                    description: If true then mark matching messages as Seen
                flag:
                    type: boolean
                    description: If true then mark matching messages as Flagged
                delete:
                    type: boolean
                    description: If true then do not store matching messages
                spam:
                    type: boolean
                    description: If true then store matching messags to Junk Mail folder
                mailbox:
                    type: string
                    description: Mailbox ID to store matching messages to
                targets:
                    type: array
                    items:
                        type: string
                    description: 'An array of forwarding targets. The value could either be an email address or a relay url to next MX server ("smtp://mx2.zone.eu:25") or an URL where mail contents are POSTed to'
            description: Action to take with a matching message
        SpecialUse:
            enum:
                - \Drafts
                - \Junk
                - \Sent
                - \Trash
            type: string
            description: 'Either special use identifier or null. One of \Drafts, \Junk, \Sent or \Trash'
        Envelope:
            required:
                - from
                - rcpt
            type: object
            properties:
                from:
                    type: string
                    description: Address from MAIL FROM
                rcpt:
                    $ref: '#/components/schemas/Rcpt'
            description: SMTP envelope (if available)
        Rcpt:
            required:
                - value
                - formatted
            type: object
            properties:
                value:
                    type: string
                    description: RCPT TO address as provided by SMTP client
                formatted:
                    type: string
                    description: Normalized RCPT address
            description: Array of addresses from RCPT TO (should have just one normally)
[...]
