{"openapi":"3.0.0","info":{"title":"WildDuck API","description":"WildDuck API docs","contact":{"url":"https://github.com/nodemailer/wildduck"},"version":"1.45.0"},"servers":[{"url":"https://api.wildduck.email"}],"tags":[{"name":"Addresses"},{"name":"ApplicationPasswords"},{"name":"Archive","description":"Archive includes all deleted messages. Once messages are old enough then these are permanenetly deleted from the archive as well. Until then you can restore the deleted messages."},{"name":"Audit","description":"Auditing allows to monitor an email account. All existing, deleted and new emails are copied to the auditing system. See also https://github.com/nodemailer/wildduck-audit-manager"},{"name":"Authentication"},{"name":"Autoreplies"},{"name":"Certs","description":"WildDuck allows to register TLS certificates to be used with SNI connections. These certificates are used by IMAP, POP3, API and SMTP servers when a SNI capable client establishes a TLS connection. This does not apply for MX servers."},{"name":"DKIM","description":"Whenever an email is sent WildDuck checks if there is a DKIM key registered for the domain name of the sender address and uses it to sign the message."},{"name":"DomainAccess","description":"Add sender domain names to allowlist (messages are all accepted) or blocklist (messages are sent to Spam folder)"},{"name":"DomainAliases"},{"name":"Filters"},{"name":"Mailboxes"},{"name":"Messages"},{"name":"Settings"},{"name":"Storage","description":"Storage allows easier attachment handling when composing Draft messages. Instead of uploading the attachmnent with every draft update, you store the attachment to the Storage and then link stored file for the Draft."},{"name":"Submission"},{"name":"TwoFactorAuth"},{"name":"Users"},{"name":"Webhooks"}],"paths":{"/users":{"get":{"tags":["Users"],"summary":"List registered Users","operationId":"users","parameters":[{"name":"query","in":"query","description":"Partial match of username or default email address","required":false,"schema":{"type":"string"}},{"name":"forward","in":"query","description":"Partial match of a forward email address or URL","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Comma separated list of tags. The User must have at least one to be set","required":false,"schema":{"type":"string"}},{"name":"requiredTags","in":"query","description":"Comma separated list of tags. The User must have all listed tags to be set","required":false,"schema":{"type":"string"}},{"name":"metaData","in":"query","description":"If true, then includes metaData in the response","required":false,"schema":{"type":"boolean"}},{"name":"internalData","in":"query","description":"If true, then includes internalData in the response. Not shown for user-role tokens.","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"How many records to return","required":false,"schema":{"type":"number"}},{"name":"next","in":"query","description":"Cursor value for next page, retrieved from nextCursor response value","required":false,"schema":{"type":"string","example":"eyIkb2lkIjoiNWRmMWZkMmQ3NzkyNTExOGI2MDdjNjg0In0"}},{"name":"previous","in":"query","description":"Cursor value for previous page, retrieved from previousCursor response value","required":false,"schema":{"type":"string","example":"TMIjjIy23ZGM2kk0lIixygWomEknQDWdmzMNIkbNeO0NNjR"}},{"name":"page","in":"query","description":"Current page number. Informational only, page numbers start from 1","required":false,"schema":{"type":"number"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"total":{"type":"number","description":"How many results were found","required":true,"example":541},"page":{"type":"number","description":"Current page number. Derived from page query argument","required":true,"example":1},"previousCursor":{"oneOf":[{"type":"string","required":false},{"type":"boolean","required":false}],"description":"Either a cursor string or false if there are not any previous results"},"nextCursor":{"oneOf":[{"type":"string","required":false},{"type":"boolean","required":false}],"description":"Either a cursor string or false if there are not any next results"},"query":{"type":"string","description":"Partial match of username or default email address","required":true},"results":{"type":"array","items":{"$ref":"#/components/schemas/GetUsersResult"},"description":"User listing"}},"required":["success","total","page","previousCursor","nextCursor","query","results"]}}}}}},"post":{"tags":["Users"],"summary":"Create new user","operationId":"postusers","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"username":{"type":"string","description":"Username of the User. Dots are allowed but informational only (\"user.name\" is the same as \"username\").","required":true},"password":{"type":"string","description":"Password for the account. Set to boolean false to disable password usage for the master scope, Application Specific Passwords would still be allowed","required":true,"enum":[false,""]},"hashedPassword":{"type":"boolean","description":"If true then password is already hashed, so store as is. Supported hashes: pbkdf2, bcrypt ($2a, $2y, $2b), md5 ($1), sha512 ($6), sha256 ($5), argon2 ($argon2d, $argon2i, $argon2id). Stored hashes are rehashed to pbkdf2 on first successful password check.","required":false},"allowUnsafe":{"type":"boolean","description":"If false then validates provided passwords against Have I Been Pwned API. Experimental, so validation is disabled by default but will be enabled automatically in some future version of WildDuck.","required":false},"address":{"type":"string","description":"Default email address for the User (autogenerated if not set)","required":false},"emptyAddress":{"type":"boolean","description":"If true then do not autogenerate missing email address for the User. Only needed if you want to create a user account that does not have any email address associated","required":false},"language":{"type":"string","description":"Language code for the User","required":false},"retention":{"type":"number","description":"Default retention time (in ms). Set to 0 to disable","required":false},"name":{"type":"string","description":"Name of the User","required":false},"targets":{"type":"array","items":{"type":"string","required":false},"description":"An array of forwarding targets. The value could either be an email address or a relay url to next MX server (\"smtp://mx2.zone.eu:25\") or an URL where mail contents are POSTed to"},"spamLevel":{"type":"number","description":"Relative scale for detecting spam. 0 means that everything is spam, 100 means that nothing is spam","required":false},"quota":{"type":"number","description":"Allowed quota of the user in bytes","required":false},"recipients":{"type":"number","description":"How many messages per 24 hour can be sent","required":false},"forwards":{"type":"number","description":"How many messages per 24 hour can be forwarded","required":false},"filters":{"type":"number","description":"How many filters are allowed for this account","required":false},"requirePasswordChange":{"type":"boolean","description":"If true then requires the user to change password, useful if password for the account was autogenerated","required":false},"imapMaxUpload":{"type":"number","description":"How many bytes can be uploaded via IMAP during 24 hour","required":false},"imapMaxDownload":{"type":"number","description":"How many bytes can be downloaded via IMAP during 24 hour","required":false},"pop3MaxDownload":{"type":"number","description":"How many bytes can be downloaded via POP3 during 24 hour","required":false},"pop3MaxMessages":{"type":"number","description":"How many latest messages to list in POP3 session","required":false},"imapMaxConnections":{"type":"number","description":"How many parallel IMAP connections are alowed","required":false},"receivedMax":{"type":"number","description":"How many messages can be received from MX during 60 seconds","required":false},"fromWhitelist":{"type":"array","items":{"type":"string","required":false},"description":"A list of additional email addresses this user can send mail from. Wildcard is allowed."},"tags":{"type":"array","items":{"type":"string","required":false},"description":"A list of tags associated with this user"},"addTagsToAddress":{"type":"boolean","description":"If true then autogenerated address gets the same tags as the user","required":false},"uploadSentMessages":{"type":"boolean","description":"If true then all messages sent through MSA are also uploaded to the Sent Mail folder. Might cause duplicates with some email clients, so disabled by default.","required":false},"mailboxes":{"$ref":"#/components/schemas/Mailboxes"},"disabledScopes":{"type":"array","items":{"type":"string","required":false,"enum":["imap","pop3","smtp"]},"description":"List of scopes that are disabled for this user (\"imap\", \"pop3\", \"smtp\")"},"metaData":{"type":"object","description":"Optional metadata, must be an object or JSON formatted string","required":false,"format":"any"},"internalData":{"type":"object","description":"Optional metadata for internal use, must be an object or JSON formatted string of an object. Not available for user-role tokens","required":false,"format":"any"},"pubKey":{"type":"string","description":"Public PGP key for the User that is used for encryption. Use empty string to remove the key","required":false},"encryptMessages":{"type":"boolean","description":"If true then received messages are encrypted","required":false},"encryptForwarded":{"type":"boolean","description":"If true then forwarded messages are encrypted","required":false},"featureFlags":{"type":"object","description":"Feature flags to specify","properties":{"indexing":{"type":"boolean","required":false}},"required":[]},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":["username","password"]}}},"required":true},"parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"string","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true}},"required":["success","id"]}}}}}}},"/users/resolve/:username":{"get":{"tags":["Users"],"summary":"Resolve ID for a username","operationId":"getusersresolveusername","parameters":[{"name":"username","in":"path","description":"Username of the User. Alphanumeric value. Must start with a letter, dots are allowed but informational only (\"user.name\" is the same as \"username\")","required":true,"schema":{"type":"string"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"string","description":"Unique ID (24 byte hex)","required":true,"example":"609d201236d1d936948f23b1"}},"required":["success","id"]}}}}}}},"/users/:user":{"get":{"tags":["Users"],"summary":"Request User information","operationId":"getusersuser","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"string","description":"Users unique ID (24 byte hex)","required":true},"username":{"type":"string","description":"Username of the User","required":true},"name":{"type":"string","description":"Name of the User","required":true},"address":{"type":"string","description":"Main email address of the User","required":true},"retention":{"type":"number","description":"Default retention time (in ms). false if not enabled","required":true},"enabled2fa":{"type":"array","items":{"type":"string","required":false},"description":"List of enabled 2FA methods"},"autoreply":{"type":"boolean","description":"Is autoreply enabled or not (start time may still be in the future or end time in the past)","required":true},"encryptMessages":{"type":"boolean","description":"If true then received messages are encrypted","required":true},"encryptForwarded":{"type":"boolean","description":"If true then forwarded messages are encrypted","required":true},"pubKey":{"type":"string","description":"Public PGP key for the User that is used for encryption","required":true},"keyInfo":{"$ref":"#/components/schemas/KeyInfo"},"metaData":{"type":"object","description":"Custom metadata object set for this user","required":true,"format":"any"},"internalData":{"type":"object","description":"Custom internal metadata object set for this user. Not available for user-role tokens","properties":{},"required":[]},"targets":{"type":"array","items":{"type":"string","required":false},"description":"List of forwarding targets"},"spamLevel":{"type":"number","description":"Relative scale for detecting spam. 0 means that everything is spam, 100 means that nothing is spam","required":true},"limits":{"$ref":"#/components/schemas/UserLimits"},"tags":{"type":"array","items":{"type":"string","required":false},"description":"List of tags associated with the User"},"fromWhitelist":{"type":"array","items":{"type":"string","required":false},"description":"A list of additional email addresses this user can send mail from. Wildcard is allowed."},"disabledScopes":{"type":"array","items":{"type":"string","required":false,"enum":["imap","pop3","smtp"]},"description":"Disabled scopes for this user"},"hasPasswordSet":{"type":"boolean","description":"If true then the User has a password set and can authenticate","required":true},"activated":{"type":"boolean","description":"Is the account activated","required":true},"disabled":{"type":"boolean","description":"If true then the user can not authenticate or receive any new mail","required":true},"suspended":{"type":"boolean","description":"If true then the user can not authenticate","required":true}},"required":["success","id","username","name","address","retention","enabled2fa","autoreply","encryptMessages","encryptForwarded","pubKey","keyInfo","metaData","internalData","targets","spamLevel","limits","tags","disabledScopes","hasPasswordSet","activated","disabled","suspended"]}}}}}},"put":{"tags":["Users"],"summary":"Update User information","operationId":"putusersuser","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"existingPassword":{"type":"string","description":"If provided then validates against account password before applying any changes","required":false},"password":{"type":"string","description":"New password for the account. Set to boolean false to disable password usage for the master scope, Application Specific Passwords would still be allowed","required":false,"enum":[false,""]},"hashedPassword":{"type":"boolean","description":"If true then password is already hashed, so store as is. Supported hashes: pbkdf2, bcrypt ($2a, $2y, $2b), md5 ($1), sha512 ($6), sha256 ($5), argon2 ($argon2d, $argon2i, $argon2id). Stored hashes are rehashed to pbkdf2 on first successful password check.","required":false},"allowUnsafe":{"type":"boolean","description":"If false then validates provided passwords against Have I Been Pwned API. Experimental, so validation is disabled by default but will be enabled automatically in some future version of WildDuck.","required":false},"language":{"type":"string","description":"Language code for the User","required":false},"name":{"type":"string","description":"Name of the User","required":false},"targets":{"type":"array","items":{"type":"string","required":false},"description":"An array of forwarding targets. The value could either be an email address or a relay url to next MX server (\"smtp://mx2.zone.eu:25\") or an URL where mail contents are POSTed to"},"spamLevel":{"type":"number","description":"Relative scale for detecting spam. 0 means that everything is spam, 100 means that nothing is spam","required":false},"uploadSentMessages":{"type":"boolean","description":"If true then all messages sent through MSA are also uploaded to the Sent Mail folder. Might cause duplicates with some email clients, so disabled by default.","required":false},"fromWhitelist":{"type":"array","items":{"type":"string","required":false},"description":"A list of additional email addresses this user can send mail from. Wildcard is allowed."},"metaData":{"type":"object","description":"Optional metadata, must be an object or JSON formatted string","required":false,"format":"any"},"internalData":{"type":"object","description":"Optional internal metadata, must be an object or JSON formatted string of an object. Not available for user-role tokens","required":false,"format":"any"},"pubKey":{"type":"string","description":"Public PGP key for the User that is used for encryption. Use empty string to remove the key","required":false},"encryptMessages":{"type":"boolean","description":"If true then received messages are encrypted","required":false},"encryptForwarded":{"type":"boolean","description":"If true then forwarded messages are encrypted","required":false},"retention":{"type":"number","description":"Default retention time (in ms). Set to 0 to disable","required":false},"quota":{"type":"number","description":"Allowed quota of the user in bytes","required":false},"recipients":{"type":"number","description":"How many messages per 24 hour can be sent","required":false},"forwards":{"type":"number","description":"How many messages per 24 hour can be forwarded","required":false},"filters":{"type":"number","description":"How many filters are allowed for this account","required":false},"imapMaxUpload":{"type":"number","description":"How many bytes can be uploaded via IMAP during 24 hour","required":false},"imapMaxDownload":{"type":"number","description":"How many bytes can be downloaded via IMAP during 24 hour","required":false},"pop3MaxDownload":{"type":"number","description":"How many bytes can be downloaded via POP3 during 24 hour","required":false},"pop3MaxMessages":{"type":"number","description":"How many latest messages to list in POP3 session","required":false},"imapMaxConnections":{"type":"number","description":"How many parallel IMAP connections are alowed","required":false},"receivedMax":{"type":"number","description":"How many messages can be received from MX during 60 seconds","required":false},"disable2fa":{"type":"boolean","description":"If true, then disables 2FA for this user","required":false},"tags":{"type":"array","items":{"type":"string","required":false},"description":"A list of tags associated with this user"},"disabledScopes":{"type":"array","items":{"type":"string","required":false,"enum":["imap","pop3","smtp"]},"description":"List of scopes that are disabled for this user (\"imap\", \"pop3\", \"smtp\")"},"disabled":{"type":"boolean","description":"If true then disables user account (can not login, can not receive messages)","required":false},"featureFlags":{"type":"object","description":"Enabled feature flags","properties":{"indexing":{"type":"boolean","required":false}},"required":[]},"suspended":{"type":"boolean","description":"If true then disables authentication","required":false},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true}},"required":["success"]}}}}}},"delete":{"tags":["Users"],"summary":"Delete a User","description":"This method deletes user and address entries from DB and schedules a background task to delete messages. You can call this method several times even if the user has already been deleted, in case there are still some pending messages.","operationId":"deleteusersuser","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"deleteAfter","in":"query","description":"Delete user entry from registry but keep all user data until provided date. User account is fully recoverable up to that date.","required":false,"schema":{"type":"date","enum":[false]}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"code":{"type":"string","description":"Task code. Should be TaskScheduled","required":false,"example":"TaskScheduled"},"user":{"type":"string","description":"User ID","required":false},"addresses":{"type":"object","properties":{"deleted":{"type":"number","description":"Number of deleted addresses","required":false}},"required":[]},"deleteAfter":{"type":"string","description":"Delete after date","required":false,"format":"date-time"},"task":{"type":"string","description":"Task ID","required":false}},"required":["success"]}}}}}}},"/users/:user/logout":{"put":{"tags":["Users"],"summary":"Log out User","operationId":"putusersuserlogout","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"reason":{"type":"string","description":"Message to be shown to connected IMAP client","required":false},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true}},"required":["success"]}}}}}}},"/users/:user/quota/reset":{"post":{"tags":["Users"],"summary":"Recalculate User quota","description":"This method recalculates quota usage for a User. Normally not needed, only use it if quota numbers are way off. This method is not transactional, so if the user is currently receiving new messages then the resulting value is not exact.","operationId":"postusersuserquotareset","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"storageUsed":{"type":"number","description":"Calculated quota usage for the user","required":true},"previousStorageUsed":{"type":"number","description":"Previous storage used","required":true}},"required":["success","storageUsed","previousStorageUsed"]}}}}}}},"/quota/reset":{"post":{"tags":["Users"],"summary":"Recalculate Quota for all Users","description":"This method recalculates quota usage for all Users. Normally not needed, only use it if quota numbers are way off. This method is not transactional, so if the user is currently receiving new messages then the resulting value is not exact.","operationId":"postquotareset","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"task":{"type":"string","description":"Task ID","required":true}},"required":["success","task"]}}}}}}},"/data/export":{"post":{"tags":["Export"],"summary":"Export data","description":"Export data for matching users. Export dump does not include emails, only account structure (user data, password hashes, mailboxes, filters, etc.). A special \"export\"-role access token is required for exporting and importing.","operationId":"postdataexport","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"users":{"type":"array","items":{"type":"string","required":true},"description":"An array of User ID values to export"},"tags":{"type":"array","items":{"type":"string","required":false},"description":"An array of user tags to export. If set then at least one tag must exist on an user."},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[],"responses":{"200":{"description":"Success","content":{"application/octet-stream":{"schema":{"type":"string","required":false,"format":"binary"}}}}}}},"/data/import":{"post":{"tags":["Export"],"summary":"Import user data","description":"Import data from an export dump. If a database entry already exists, it is not modified. A special \"export\"-role access token is required for exporting and importing.","operationId":"postdataimport","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"entries":{"type":"number","description":"How many database entries were found from the export file","required":false},"imported":{"type":"number","description":"How many database entries were imported from the export file","required":false},"failed":{"type":"number","description":"How many database entries were not imported due to some error","required":false},"existing":{"type":"number","description":"How many database existing entries were not imported","required":false}},"required":[]}}}}}}},"/users/:user/password/reset":{"post":{"tags":["Users"],"summary":"Reset password for a User","description":"This method generates a new temporary password for a User. Additionally it removes all two-factor authentication settings","operationId":"postusersuserpasswordreset","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"validAfter":{"type":"string","description":"Allow using the generated password not earlier than provided time","required":false,"format":"date-time","enum":[false]},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"password":{"type":"string","description":"Temporary password","required":true},"validAfter":{"type":"string","description":"The date password is valid after","required":false,"format":"date-time"}},"required":["success","password"]}}}}}}},"/users/:user/restore":{"get":{"tags":["Users"],"summary":"Return recovery info for a deleted user","operationId":"getusersuserrestore","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"user":{"type":"string","description":"ID of the deleted User","required":true},"username":{"type":"string","description":"Username of the User","required":true},"storageUsed":{"type":"number","description":"Calculated quota usage for the user","required":true},"tags":{"type":"array","items":{"type":"string","required":false},"description":"List of tags associated with the User"},"deleted":{"type":"string","description":"Datestring of the time the user was deleted","required":true,"format":"date-time"},"recoverableAddresses":{"type":"array","items":{"type":"string","required":false},"description":"List of email addresses that can be restored"}},"required":["success","user","username","storageUsed","tags","deleted","recoverableAddresses"]}}}}}},"post":{"tags":["Users"],"summary":"Cancel user deletion task","description":"Use this endpoint to cancel a timed deletion task scheduled by DELETE /user/{id}. If user data is not yet deleted then the account is fully recovered, except any email addresses that might have been already recycled","operationId":"postusersuserrestore","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"code":{"type":"string","description":"Task status code","required":true},"user":{"type":"string","description":"User ID","required":false},"task":{"type":"string","description":"Existing task id","required":false},"addresses":{"type":"object","properties":{"recovered":{"type":"number","description":"Number of recovered addresses","required":false},"main":{"type":"string","description":"Main address","required":false}},"required":[]}},"required":["success","code"]}}}}}}},"/addresses":{"get":{"tags":["Addresses"],"summary":"List registered Addresses","operationId":"addresses","parameters":[{"name":"query","in":"query","description":"Partial match of an address","required":false,"schema":{"type":"string"}},{"name":"forward","in":"query","description":"Partial match of a forward email address or URL","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Comma separated list of tags. The Address must have at least one to be set","required":false,"schema":{"type":"string"}},{"name":"requiredTags","in":"query","description":"Comma separated list of tags. The Address must have all listed tags to be set","required":false,"schema":{"type":"string"}},{"name":"metaData","in":"query","description":"If true, then includes metaData in the response","required":false,"schema":{"type":"boolean"}},{"name":"internalData","in":"query","description":"If true, then includes internalData in the response. Not shown for user-role tokens.","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"How many records to return","required":false,"schema":{"type":"number"}},{"name":"next","in":"query","description":"Cursor value for next page, retrieved from nextCursor response value","required":false,"schema":{"type":"string","example":"eyIkb2lkIjoiNWRmMWZkMmQ3NzkyNTExOGI2MDdjNjg0In0"}},{"name":"previous","in":"query","description":"Cursor value for previous page, retrieved from previousCursor response value","required":false,"schema":{"type":"string","example":"TMIjjIy23ZGM2kk0lIixygWomEknQDWdmzMNIkbNeO0NNjR"}},{"name":"page","in":"query","description":"Current page number. Informational only, page numbers start from 1","required":false,"schema":{"type":"number"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"query":{"type":"string","description":"Partial match of an address","required":true},"total":{"type":"number","description":"How many results were found","required":true},"page":{"type":"number","description":"Current page number. Derived from page query argument","required":true},"previousCursor":{"oneOf":[{"type":"string","required":false},{"type":"boolean","required":false}],"description":"Either a cursor string or false if there are not any previous results"},"nextCursor":{"oneOf":[{"type":"string","required":false},{"type":"boolean","required":false}],"description":"Either a cursor string or false if there are not any next results"},"results":{"type":"array","items":{"$ref":"#/components/schemas/GetAddressesResult"},"description":"Address listing"}},"required":["success","query","total","page","previousCursor","nextCursor","results"]}}}}}}},"/users/:user/addresses":{"post":{"tags":["Addresses"],"summary":"Create new Address","description":"Add a new email address for a User. Addresses can contain unicode characters. Dots in usernames are normalized so no need to create both \"firstlast@example.com\" and \"first.last@example.com\" Special addresses `*@example.com`, `*suffix@example.com` and `username@*` catches all emails to these domains or users without a registered destination (requires allowWildcard argument)","operationId":"postusersuseraddresses","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"oneOf":[{"type":"string","description":"E-mail Address","required":true},{"type":"string","required":false}],"description":"E-mail Address"},"name":{"type":"string","description":"Identity name","required":false},"main":{"type":"boolean","description":"Indicates if this is the default address for the User","required":false},"allowWildcard":{"type":"boolean","description":"If true then address value can be in the form of `*@example.com`, `*suffix@example.com` and `username@*`, otherwise using * is not allowed. Static suffix can be up to 32 characters long.","required":false},"tags":{"type":"array","items":{"type":"string","required":false},"description":"A list of tags associated with this address"},"metaData":{"type":"object","description":"Optional metadata, must be an object or JSON formatted string","required":false,"format":"any"},"internalData":{"type":"object","description":"Optional metadata for internal use, must be an object or JSON formatted string of an object. Not available for user-role tokens","required":false,"format":"any"},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"string","description":"ID of the address","required":true}},"required":["success","id"]}}}}}},"get":{"tags":["Addresses"],"summary":"List registered Addresses for a User","operationId":"getusersuseraddresses","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"metaData","in":"query","description":"If true, then includes metaData in the response","required":false,"schema":{"type":"boolean"}},{"name":"internalData","in":"query","description":"If true, then includes internalData in the response. Not shown for user-role tokens.","required":false,"schema":{"type":"boolean"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"results":{"type":"array","items":{"$ref":"#/components/schemas/GetUserAddressesResult"},"description":"Address listing"}},"required":["success","results"]}}}}}}},"/users/:user/addresses/:address":{"get":{"tags":["Addresses"],"summary":"Request Addresses information","operationId":"getusersuseraddressesaddress","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"address","in":"path","description":"ID of the Address","required":true,"schema":{"type":"string"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"string","description":"ID of the Address","required":true},"name":{"type":"string","description":"Identity name","required":true},"address":{"type":"string","description":"E-mail Address","required":true},"main":{"type":"boolean","description":"Indicates if this is the default address for the User","required":true},"created":{"type":"string","description":"Datestring of the time the address was created","required":true,"format":"date-time"},"tags":{"type":"array","items":{"type":"string","required":false},"description":"List of tags associated with the Address"},"metaData":{"type":"object","description":"Metadata object (if available)","properties":{},"required":[]},"internalData":{"type":"object","description":"Internal metadata object (if available), not included for user-role requests","properties":{},"required":[]}},"required":["success","id","name","address","main","created","tags"]}}}}}},"delete":{"tags":["Addresses"],"summary":"Delete an Address","operationId":"deleteusersuseraddressesaddress","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"address","in":"path","description":"ID of the Address","required":true,"schema":{"type":"string"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true}},"required":["success"]}}}}}}},"/users/:user/addresses/:id":{"put":{"tags":["Addresses"],"summary":"Update Address information","operationId":"putusersuseraddressesid","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Identity name","required":false},"address":{"type":"string","description":"New address if you want to rename existing address. Only affects normal addresses, special addresses that include * can not be changed","required":false},"main":{"type":"boolean","description":"Indicates if this is the default address for the User","required":false},"tags":{"type":"array","items":{"type":"string","required":false},"description":"A list of tags associated with this address"},"metaData":{"type":"object","description":"Optional metadata, must be an object or JSON formatted string","required":false,"format":"any"},"internalData":{"type":"object","description":"Optional metadata for internal use, must be an object or JSON formatted string of an object. Not available for user-role tokens","required":false,"format":"any"},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"ID of the Address","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true}},"required":["success"]}}}}}}},"/users/:user/addressregister":{"get":{"tags":["Addresses"],"summary":"List addresses from communication register","operationId":"getusersuseraddressregister","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Prefix of an address or a name","required":true,"schema":{"type":"string","example":"`query=john`"}},{"name":"limit","in":"query","description":"How many records to return","required":false,"schema":{"type":"number","example":"`limit=25`"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"results":{"type":"array","items":{"$ref":"#/components/schemas/GetUserAddressesregisterResult"},"description":"Address listing"}},"required":["success","results"]}}}}}}},"/addresses/forwarded":{"post":{"tags":["Addresses"],"summary":"Create new forwarded Address","description":"Add a new forwarded email address. Addresses can contain unicode characters. Dots in usernames are normalized so no need to create both \"firstlast@example.com\" and \"first.last@example.com\" Special addresses `*@example.com` and `username@*` catches all emails to these domains or users without a registered destination (requires allowWildcard argument)","operationId":"postaddressesforwarded","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"oneOf":[{"type":"string","description":"E-mail Address","required":true},{"type":"string","required":false}],"description":"E-mail Address"},"name":{"type":"string","description":"Identity name","required":false},"targets":{"type":"array","items":{"type":"string","required":false},"description":"An array of forwarding targets. The value could either be an email address or a relay url to next MX server (\"smtp://mx2.zone.eu:25\") or an URL where mail contents are POSTed to"},"forwards":{"type":"number","description":"Daily allowed forwarding count for this address","required":false},"allowWildcard":{"type":"boolean","description":"If true then address value can be in the form of `*@example.com`, otherwise using * is not allowed","required":false},"autoreply":{"$ref":"#/components/schemas/Autoreply"},"tags":{"type":"array","items":{"type":"string","required":false},"description":"A list of tags associated with this address"},"metaData":{"type":"object","description":"Optional metadata, must be an object or JSON formatted string","required":false,"format":"any"},"internalData":{"type":"object","description":"Optional metadata for internal use, must be an object or JSON formatted string of an object. Not available for user-role tokens","required":false,"format":"any"},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":["address"]}}},"required":true},"parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"string","description":"ID of the Address","required":true}},"required":["success","id"]}}}}}}},"/addresses/forwarded/:id":{"put":{"tags":["Addresses"],"summary":"Update forwarded Address information","operationId":"putaddressesforwardedid","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"New address. Only affects normal addresses, special addresses that include * can not be changed","required":false},"name":{"type":"string","description":"Identity name","required":false},"targets":{"type":"array","items":{"type":"string","required":false},"description":"An array of forwarding targets. The value could either be an email address or a relay url to next MX server (\"smtp://mx2.zone.eu:25\") or an URL where mail contents are POSTed to. If set then overwrites previous targets array"},"forwards":{"type":"number","description":"Daily allowed forwarding count for this address","required":false},"autoreply":{"$ref":"#/components/schemas/Autoreply"},"tags":{"type":"array","items":{"type":"string","required":false},"description":"A list of tags associated with this address"},"metaData":{"type":"object","description":"Optional metadata, must be an object or JSON formatted string","required":false,"format":"any"},"internalData":{"type":"object","description":"Optional metadata for internal use, must be an object or JSON formatted string of an object. Not available for user-role tokens","required":false,"format":"any"},"forwardedDisabled":{"type":"boolean","description":"If true then disables forwarded address (stops forwarding messages)","required":false},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[{"name":"id","in":"path","description":"ID of the Address","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true}},"required":["success"]}}}}}}},"/addresses/forwarded/:address":{"delete":{"tags":["Addresses"],"summary":"Delete a forwarded Address","operationId":"deleteaddressesforwardedaddress","parameters":[{"name":"address","in":"path","description":"ID of the Address","required":true,"schema":{"type":"string"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true}},"required":["success"]}}}}}},"get":{"tags":["Addresses"],"summary":"Request forwarded Addresses information","operationId":"getaddressesforwardedaddress","parameters":[{"name":"address","in":"path","description":"ID of the Address","required":true,"schema":{"type":"string"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"string","description":"ID of the Address","required":true},"address":{"type":"string","description":"E-mail Address","required":true},"name":{"type":"string","description":"Identity name","required":true},"targets":{"type":"array","items":{"type":"string","required":false},"description":"List of forwarding targets"},"limits":{"$ref":"#/components/schemas/AddressLimits"},"autoreply":{"$ref":"#/components/schemas/AutoreplyInfo"},"created":{"type":"string","description":"Datestring of the time the address was created","required":true,"format":"date-time"},"tags":{"type":"array","items":{"type":"string","required":false},"description":"List of tags associated with the Address"},"metaData":{"type":"object","description":"Metadata object (if available)","properties":{},"required":[]},"internalData":{"type":"object","description":"Internal metadata object (if available), not included for user-role requests","properties":{},"required":[]},"forwardedDisabled":{"type":"boolean","description":"Specifies whether forwarding is disabled","required":false}},"required":["success","id","address","name","limits","autoreply","created","tags"]}}}}}}},"/addresses/resolve/:address":{"get":{"tags":["Addresses"],"summary":"Get Address info","operationId":"getaddressesresolveaddress","parameters":[{"name":"address","in":"path","description":"ID of the Address or e-mail address string","required":true,"schema":{"type":"alternatives"}},{"name":"allowWildcard","in":"query","description":"If true then resolves also wildcard addresses","required":false,"schema":{"type":"boolean"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"string","description":"ID of the Address","required":true},"address":{"type":"string","description":"E-mail Address","required":true},"name":{"type":"string","description":"Identity name","required":true},"targets":{"type":"array","items":{"type":"string","required":false},"description":"List of forwarding targets if this is a Forwarded address"},"limits":{"$ref":"#/components/schemas/AddressLimits"},"autoreply":{"$ref":"#/components/schemas/AutoreplyInfo"},"tags":{"type":"array","items":{"type":"string","required":false},"description":"List of tags associated with the Address"},"created":{"type":"string","description":"Datestring of the time the address was created","required":true,"format":"date-time"},"metaData":{"type":"object","description":"Metadata object (if available)","properties":{},"required":[]},"internalData":{"type":"object","description":"Internal metadata object (if available), not included for user-role requests","properties":{},"required":[]}},"required":["success","id","address","name","limits","autoreply","tags","created"]}}}}}}},"/addresses/renameDomain":{"put":{"tags":["Addresses"],"summary":"Rename domain in addresses","description":"Renames domain names for addresses, DKIM keys and Domain Aliases","operationId":"putaddressesrenamedomain","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"oldDomain":{"type":"string","description":"Old Domain Name","required":true},"newDomain":{"type":"string","description":"New Domain Name","required":true},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":["oldDomain","newDomain"]}}},"required":true},"parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"modifiedAddresses":{"type":"number","description":"Number of modified addresses","required":true},"modifiedUsers":{"type":"number","description":"Number of modified users","required":true},"modifiedDkim":{"type":"number","description":"Number of modified DKIM keys","required":true},"modifiedAliases":{"type":"number","description":"Number of modified Domain Aliases","required":true}},"required":["success","modifiedAddresses","modifiedUsers","modifiedDkim","modifiedAliases"]}}}}}}},"/users/:user/mailboxes":{"get":{"tags":["Mailboxes"],"summary":"List Mailboxes for a User","operationId":"getusersusermailboxes","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"specialUse","in":"query","description":"Should the response include only folders with specialUse flag set.","required":false,"schema":{"type":"boolean"}},{"name":"showHidden","in":"query","description":"Hidden folders are not included in the listing by default.","required":false,"schema":{"type":"boolean"}},{"name":"counters","in":"query","description":"Should the response include counters (total + unseen). Counters come with some overhead.","required":false,"schema":{"type":"boolean"}},{"name":"sizes","in":"query","description":"Should the response include mailbox size in bytes. Size numbers come with a lot of overhead as an aggregated query is ran.","required":false,"schema":{"type":"boolean"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"results":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"ID of the Mailbox","required":true},"name":{"type":"string","description":"Name for the mailbox (unicode string)","required":true},"path":{"type":"string","description":"Full path of the mailbox, folders are separated by slashes, ends with the mailbox name (unicode string)","required":true},"specialUse":{"type":"string","description":"Either special use identifier or null. One of Drafts, Junk, Sent or Trash","required":true},"modifyIndex":{"type":"number","description":"Modification sequence number. Incremented on every change in the mailbox.","required":true},"subscribed":{"type":"boolean","description":"Mailbox subscription status. IMAP clients may unsubscribe from a folder.","required":true},"retention":{"type":"number","description":"Default retention policy for this mailbox (in ms). If set then messages added to this maibox will be automatically deleted after retention time.","required":false},"hidden":{"type":"boolean","description":"Is the folder hidden or not","required":true},"total":{"type":"number","description":"How many messages are stored in this mailbox","required":true},"unseen":{"type":"number","description":"How many unseen messages are stored in this mailbox","required":true},"size":{"type":"number","description":"Total size of mailbox in bytes.","required":false}},"required":["id","name","path","specialUse","modifyIndex","subscribed","hidden","total","unseen"]},"description":"List of user mailboxes"}},"required":["success","results"]}}}}}},"post":{"tags":["Mailboxes"],"summary":"Create new Mailbox","operationId":"postusersusermailboxes","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"path":{"type":"string","description":"Full path of the mailbox, folders are separated by slashes, ends with the mailbox name (unicode string)","required":true},"hidden":{"type":"boolean","description":"Is the folder hidden or not. Hidden folders can not be opened in IMAP.","required":false},"retention":{"type":"number","description":"Retention policy for the created Mailbox. Milliseconds after a message added to mailbox expires. Set to 0 to disable.","required":false},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":["path"]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"string","description":"ID of the Mailbox","required":true}},"required":["success","id"]}}}}}}},"/users/:user/mailboxes/:mailbox":{"get":{"tags":["Mailboxes"],"summary":"Request Mailbox information","operationId":"getusersusermailboxesmailbox","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}},{"name":"path","in":"query","description":"If mailbox is specified as `resolve` in the path then use this param as mailbox path instead of the given mailbox id.","required":false,"schema":{"type":"string"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"string","description":"ID of the Mailbox","required":true},"name":{"type":"string","description":"Name for the mailbox (unicode string)","required":true},"path":{"type":"string","description":"Full path of the mailbox, folders are separated by slashes, ends with the mailbox name (unicode string)","required":true},"specialUse":{"type":"string","description":"Either special use identifier or null. One of Drafts, Junk, Sent or Trash","required":true,"example":"\\Draft"},"modifyIndex":{"type":"number","description":"Modification sequence number. Incremented on every change in the mailbox.","required":true},"subscribed":{"type":"boolean","description":"Mailbox subscription status. IMAP clients may unsubscribe from a folder.","required":true},"hidden":{"type":"boolean","description":"Is the folder hidden or not","required":true},"total":{"type":"number","description":"How many messages are stored in this mailbox","required":true},"unseen":{"type":"number","description":"How many unseen messages are stored in this mailbox","required":true}},"required":["success","id","name","path","specialUse","modifyIndex","subscribed","hidden","total","unseen"]}}}}}},"put":{"tags":["Mailboxes"],"summary":"Update Mailbox information","operationId":"putusersusermailboxesmailbox","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"path":{"type":"string","description":"Full path of the mailbox, use this to rename an existing Mailbox","required":false},"retention":{"type":"number","description":"Retention policy for the Mailbox (in ms). Changing retention value only affects messages added to this folder after the change","required":false},"subscribed":{"type":"boolean","description":"Change Mailbox subscription state","required":false},"hidden":{"type":"boolean","description":"Is the folder hidden or not. Hidden folders can not be opened in IMAP.","required":false},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true}},"required":["success"]}}}}}},"delete":{"tags":["Mailboxes"],"summary":"Delete a Mailbox","operationId":"deleteusersusermailboxesmailbox","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true}},"required":["success"]}}}}}}},"/users/:user/mailboxes/:mailbox/messages":{"get":{"tags":["Messages"],"summary":"List messages in a Mailbox","description":"Lists all messages in a mailbox","operationId":"messages","parameters":[{"name":"user","in":"path","description":"ID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}},{"name":"unseen","in":"query","description":"If true, then returns only unseen messages","required":false,"schema":{"type":"boolean"}},{"name":"metaData","in":"query","description":"If true, then includes metaData in the response","required":false,"schema":{"type":"boolean"}},{"name":"threadCounters","in":"query","description":"If true, then includes threadMessageCount in the response. Counters come with some overhead","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"How many records to return","required":false,"schema":{"type":"number"}},{"name":"order","in":"query","description":"Ordering of the records by insert date","required":false,"schema":{"type":"any","enum":["asc","desc"]}},{"name":"next","in":"query","description":"Cursor value for next page, retrieved from nextCursor response value","required":false,"schema":{"type":"string","example":"eyIkb2lkIjoiNWRmMWZkMmQ3NzkyNTExOGI2MDdjNjg0In0"}},{"name":"previous","in":"query","description":"Cursor value for previous page, retrieved from previousCursor response value","required":false,"schema":{"type":"string","example":"TMIjjIy23ZGM2kk0lIixygWomEknQDWdmzMNIkbNeO0NNjR"}},{"name":"page","in":"query","description":"Current page number. Informational only, page numbers start from 1","required":false,"schema":{"type":"number"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}},{"name":"includeHeaders","in":"query","description":"Comma separated list of header keys to include in the response","required":false,"schema":{"type":"alternatives"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true},"total":{"type":"number","description":"How many results were found","required":true},"page":{"type":"number","description":"Current page number. Derived from page query argument","required":true},"previousCursor":{"oneOf":[{"type":"string","required":false},{"type":"boolean","required":false}],"description":"Either a cursor string or false if there are not any previous results"},"nextCursor":{"oneOf":[{"type":"string","required":false},{"type":"boolean","required":false}],"description":"Either a cursor string or false if there are not any next results"},"specialUse":{"type":"string","description":"Special use. If available","required":true},"results":{"type":"array","items":{"$ref":"#/components/schemas/GetMessagesResult"},"description":"Message listing"}},"required":["success","total","page","previousCursor","nextCursor","specialUse","results"]}}}}}},"put":{"tags":["Messages"],"summary":"Update Message information","description":"This method updates message flags and also allows to move messages to a different mailbox","operationId":"putusersusermailboxesmailboxmessages","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Message ID. Either singular or comma separated number (1,2,3) or colon separated range (3:15), or a range from UID to end (3:*)","required":true},"moveTo":{"type":"string","description":"ID of the target Mailbox if you want to move messages","required":false},"seen":{"type":"boolean","description":"State of the \\Seen flag","required":false},"deleted":{"type":"boolean","description":"State of the \\Deleted flag","required":false},"flagged":{"type":"boolean","description":"State of the \\Flagged flag","required":false},"draft":{"type":"boolean","description":"State of the \\Draft flag","required":false},"expires":{"oneOf":[{"type":"string","required":false,"format":"date-time"},{"type":"boolean","required":false,"enum":[false]}],"description":"Either expiration date or false to turn off autoexpiration"},"metaData":{"type":"object","description":"Optional metadata, must be an object or JSON formatted string","required":false,"format":"any"},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":["message"]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"array","items":{"type":"object","properties":{},"required":[]},"description":"If messages were moved then lists new ID values. Array entry is an array with first element pointing to old ID and second to new ID"},"mailbox":{"type":"string","description":"MoveTo mailbox address","required":false},"updated":{"type":"number","description":"If messages were not moved, then indicates the number of updated messages","required":false}},"required":["success"]}}}}}},"delete":{"tags":["Messages"],"summary":"Delete all Messages from a Mailbox","operationId":"deleteusersusermailboxesmailboxmessages","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}},{"name":"async","in":"query","description":"Schedule deletion task","required":false,"schema":{"type":"boolean"}},{"name":"skipArchive","in":"query","description":"Skip archived messages","required":false,"schema":{"type":"boolean"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"deleted":{"type":"number","description":"Indicates the count of deleted messages","required":true},"errors":{"type":"number","description":"Indicate the count of errors during the delete","required":true}},"required":["success","deleted","errors"]}}}}}},"post":{"tags":["Messages"],"summary":"Upload Message","description":"This method allows to upload either an RFC822 formatted message or a message structure to a mailbox. Raw message is stored unmodified, no headers are added or removed. If you want to generate the uploaded message from structured data fields, then do not use the raw property.","operationId":"postusersusermailboxesmailboxmessages","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"date":{"type":"string","description":"Date","required":false,"format":"date-time"},"unseen":{"type":"boolean","description":"Is the message unseen or not","required":false},"flagged":{"type":"boolean","description":"Is the message flagged or not","required":false},"draft":{"type":"boolean","description":"Is the message a draft or not","required":false},"raw":{"type":"string","description":"base64 encoded message source. Alternatively, you can provide this value as POST body by using message/rfc822 MIME type. If raw message is provided then it overrides any other mail configuration","required":false,"format":"binary"},"from":{"$ref":"#/components/schemas/AddressOptionalName"},"replyTo":{"$ref":"#/components/schemas/AddressOptionalName"},"to":{"type":"array","items":{"$ref":"#/components/schemas/AddressOptionalName"},"description":"Addresses for the To: header"},"cc":{"type":"array","items":{"$ref":"#/components/schemas/AddressOptionalName"},"description":"Addresses for the Cc: header"},"bcc":{"type":"array","items":{"$ref":"#/components/schemas/AddressOptionalName"},"description":"Addresses for the Bcc: header"},"headers":{"type":"array","items":{"$ref":"#/components/schemas/Header"},"description":"Custom headers for the message. If reference message is set then In-Reply-To and References headers are set automatically"},"subject":{"type":"string","description":"Message subject. If not then resolved from Reference message","required":false},"text":{"type":"string","description":"Plaintext message","required":false},"html":{"type":"string","description":"HTML formatted message","required":false},"files":{"type":"array","items":{"type":"string","required":false},"description":"Attachments as storage file IDs. NB! When retrieving message info then an array of objects is returned. When uploading a message then an array of IDs is used."},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"},"description":"Attachments for the message"},"metaData":{"type":"object","description":"Optional metadata, must be an object or JSON formatted string","required":false,"format":"any"},"reference":{"$ref":"#/components/schemas/ReferenceWithAttachments"},"replacePrevious":{"type":"object","description":"If set, then deletes a previous message when storing the new one. Useful when uploading a new Draft message.","properties":{"mailbox":{"type":"string","required":false},"id":{"type":"number","required":true}},"required":["id"]},"bimi":{"$ref":"#/components/schemas/Bimi"},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"message":{"type":"object","description":"Message information","properties":{"id":{"type":"number","description":"Message ID in mailbox","required":true},"malbox":{"type":"string","description":"Mailbox ID the message was stored into","required":true},"size":{"type":"number","description":"Size of the RFC822 formatted email","required":true}},"required":["id","malbox","size"]},"previousDeleted":{"type":"boolean","description":"Set if replacing a previous message was requested","required":false},"previousDeleteError":{"type":"string","description":"Previus delete error message","required":false}},"required":["success","message"]}}}}}}},"/users/:user/search":{"get":{"tags":["Messages"],"summary":"Search for messages","description":"This method allows searching for matching messages.","operationId":"search","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Additional query string","required":false,"schema":{"type":"string"}},{"name":"mailbox","in":"query","description":"ID of the Mailbox","required":false,"schema":{"type":"string"}},{"name":"id","in":"query","description":"Message ID values, only applies when used in combination with `mailbox`. Either comma separated numbers (1,2,3) or colon separated range (3:15), or a range from UID to end (3:*)","required":false,"schema":{"type":"string"}},{"name":"thread","in":"query","description":"Thread ID","required":false,"schema":{"type":"string"}},{"name":"or","in":"query","description":"At least onOne of the included terms must match","required":false,"schema":{"type":"object"}},{"name":"query","in":"query","description":"Search string, uses MongoDB fulltext index. Covers data from mesage body and also common headers like from, to, subject etc.","required":false,"schema":{"type":"string"}},{"name":"datestart","in":"query","description":"Datestring for the earliest message storing time","required":false,"schema":{"type":"date"}},{"name":"dateend","in":"query","description":"Datestring for the latest message storing time","required":false,"schema":{"type":"date"}},{"name":"from","in":"query","description":"Partial match for the From: header line","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","description":"Partial match for the To: and Cc: header lines","required":false,"schema":{"type":"string"}},{"name":"subject","in":"query","description":"Partial match for the Subject: header line","required":false,"schema":{"type":"string"}},{"name":"minSize","in":"query","description":"Minimal message size in bytes","required":false,"schema":{"type":"number"}},{"name":"maxSize","in":"query","description":"Maximal message size in bytes","required":false,"schema":{"type":"number"}},{"name":"attachments","in":"query","description":"If true, then matches only messages with attachments","required":false,"schema":{"type":"boolean"}},{"name":"flagged","in":"query","description":"If true, then matches only messages with \\Flagged flags","required":false,"schema":{"type":"boolean"}},{"name":"unseen","in":"query","description":"If true, then matches only messages without \\Seen flags","required":false,"schema":{"type":"boolean"}},{"name":"includeHeaders","in":"query","description":"Comma separated list of header keys to include in the response","required":false,"schema":{"type":"string","example":"List-ID, MIME-Version"}},{"name":"searchable","in":"query","description":"If true, then matches messages not in Junk or Trash","required":false,"schema":{"type":"boolean"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}},{"name":"threadCounters","in":"query","description":"If true, then includes threadMessageCount in the response. Counters come with some overhead","required":false,"schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"How many records to return","required":false,"schema":{"type":"number"}},{"name":"order","in":"query","description":"Ordering of the records by insert date. If no order is supplied, results are sorted by heir mongoDB ObjectId.","required":false,"schema":{"type":"any","enum":["asc","desc"]}},{"name":"next","in":"query","description":"Cursor value for next page, retrieved from nextCursor response value","required":false,"schema":{"type":"string","example":"eyIkb2lkIjoiNWRmMWZkMmQ3NzkyNTExOGI2MDdjNjg0In0"}},{"name":"previous","in":"query","description":"Cursor value for previous page, retrieved from previousCursor response value","required":false,"schema":{"type":"string","example":"TMIjjIy23ZGM2kk0lIixygWomEknQDWdmzMNIkbNeO0NNjR"}},{"name":"page","in":"query","description":"Current page number. Informational only, page numbers start from 1","required":false,"schema":{"type":"number"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true},"query":{"type":"string","required":true},"total":{"type":"number","required":true},"page":{"type":"number","required":true},"previousCursor":{"oneOf":[{"type":"boolean","required":false},{"type":"string","required":false}],"description":"Either a cursor string or false if there are not any previous results"},"nextCursor":{"oneOf":[{"type":"boolean","required":false},{"type":"string","required":false}],"description":"Either a cursor string or false if there are not any next results"},"results":{"type":"array","items":{"$ref":"#/components/schemas/GetMessagesResult"},"description":"Message listing"}},"required":["success","query","total","page","previousCursor","nextCursor","results"]}}}}}},"post":{"tags":["Messages"],"summary":"Search and update messages","description":"This method allows applying an action to all matching messages. This is an async method so that it will return immediately. Actual modifications are run in the background.","operationId":"searchApply","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"q":{"type":"string","description":"Additional query string","required":false},"mailbox":{"type":"string","description":"ID of the Mailbox","required":false},"id":{"type":"string","description":"Message ID values, only applies when used in combination with `mailbox`. Either comma separated numbers (1,2,3) or colon separated range (3:15), or a range from UID to end (3:*)","required":false},"thread":{"type":"string","description":"Thread ID","required":false},"or":{"type":"object","description":"At least onOne of the included terms must match","properties":{"query":{"type":"string","description":"Search string, uses MongoDB fulltext index. Covers data from mesage body and also common headers like from, to, subject etc.","required":false},"from":{"type":"string","description":"Partial match for the From: header line","required":false},"to":{"type":"string","description":"Partial match for the To: and Cc: header lines","required":false},"subject":{"type":"string","description":"Partial match for the Subject: header line","required":false}},"required":[]},"query":{"type":"string","description":"Search string, uses MongoDB fulltext index. Covers data from mesage body and also common headers like from, to, subject etc.","required":false},"datestart":{"type":"string","description":"Datestring for the earliest message storing time","required":false,"format":"date-time"},"dateend":{"type":"string","description":"Datestring for the latest message storing time","required":false,"format":"date-time"},"from":{"type":"string","description":"Partial match for the From: header line","required":false},"to":{"type":"string","description":"Partial match for the To: and Cc: header lines","required":false},"subject":{"type":"string","description":"Partial match for the Subject: header line","required":false},"minSize":{"type":"number","description":"Minimal message size in bytes","required":false},"maxSize":{"type":"number","description":"Maximal message size in bytes","required":false},"attachments":{"type":"boolean","description":"If true, then matches only messages with attachments","required":false},"flagged":{"type":"boolean","description":"If true, then matches only messages with \\Flagged flags","required":false},"unseen":{"type":"boolean","description":"If true, then matches only messages without \\Seen flags","required":false},"includeHeaders":{"type":"string","description":"Comma separated list of header keys to include in the response","required":false,"example":"List-ID, MIME-Version"},"searchable":{"type":"boolean","description":"If true, then matches messages not in Junk or Trash","required":false},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false},"action":{"type":"object","description":"Define actions to take with matching messages","properties":{"moveTo":{"type":"string","description":"ID of the target Mailbox if you want to move messages","required":false},"seen":{"type":"boolean","description":"State of the \\Seen flag","required":false},"flagged":{"type":"boolean","description":"State of the \\Flagged flag","required":false}},"required":[]}},"required":["action"]}}},"required":true},"parameters":[{"name":"user","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the action succeeded or not","required":true},"scheduled":{"type":"string","description":"ID of the scheduled operation","required":true},"existing":{"type":"boolean","description":"Indicates if the scheduled operation already exists","required":true}},"required":["success","scheduled","existing"]}}}}}}},"/users/:user/mailboxes/:mailbox/messages/:message":{"get":{"tags":["Messages"],"summary":"Request Message information","operationId":"message","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}},{"name":"message","in":"path","description":"Message ID","required":true,"schema":{"type":"number"}},{"name":"replaceCidLinks","in":"query","description":"If true then replaces cid links","required":false,"schema":{"type":"boolean"}},{"name":"markAsSeen","in":"query","description":"If true then marks message as seen","required":false,"schema":{"type":"boolean"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"number","description":"Message ID","required":true},"mailbox":{"type":"string","description":"ID of the Mailbox","required":true},"user":{"type":"string","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true},"envelope":{"$ref":"#/components/schemas/Envelope"},"thread":{"type":"string","description":"ID of the Thread","required":true},"from":{"$ref":"#/components/schemas/Address"},"replyTo":{"$ref":"#/components/schemas/Address"},"to":{"$ref":"#/components/schemas/Address"},"cc":{"$ref":"#/components/schemas/Address"},"bcc":{"$ref":"#/components/schemas/Address"},"subject":{"type":"string","description":"Message subject","required":true},"messageId":{"type":"string","description":"Message-ID header","required":true},"date":{"type":"string","description":"Date string from header","required":true,"format":"date-time"},"idate":{"type":"string","description":"Date string of receive time","required":false,"format":"date-time"},"list":{"$ref":"#/components/schemas/List"},"size":{"type":"number","description":"Message size","required":true},"expires":{"type":"string","description":"Datestring, if set then indicates the time after this message is automatically deleted","required":false},"seen":{"type":"boolean","description":"Does this message have a \\Seen flag","required":true},"deleted":{"type":"boolean","description":"Does this message have a \\Deleted flag","required":true},"flagged":{"type":"boolean","description":"Does this message have a \\Flagged flag","required":true},"draft":{"type":"boolean","description":"Does this message have a \\Draft flag","required":true},"html":{"type":"array","items":{"type":"string","required":false},"description":"An array of HTML string. Every array element is from a separate mime node, usually you would just join these to a single string"},"text":{"type":"string","description":"Plaintext content of the message","required":false},"attachments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Attachment ID","required":true},"hash":{"type":"string","description":"SHA-256 hash of the contents of the attachment","required":false},"filename":{"type":"string","description":"Filename of the attachment","required":true},"contentType":{"type":"string","description":"MIME type","required":true},"disposition":{"type":"string","description":"Attachment disposition","required":true},"transferEncoding":{"type":"string","description":"Which transfer encoding was used (actual content when fetching attachments is not encoded)","required":true},"related":{"type":"boolean","description":"Was this attachment found from a multipart/related node. This usually means that this is an embedded image","required":true},"sizeKb":{"type":"number","description":"Approximate size of the attachment in kilobytes","required":true}},"required":["id","filename","contentType","disposition","transferEncoding","related","sizeKb"]},"description":"Attachments for the message"},"verificationResults":{"type":"object","description":"Security verification info if message was received from MX. If this property is missing then do not automatically assume invalid TLS, SPF or DKIM.","properties":{"tls":{"$ref":"#/components/schemas/Tls"},"spf":{"type":"object","description":"Domain name (either MFROM or HELO) of verified SPF or false if no SPF match was found","properties":{},"required":[]},"dkim":{"type":"object","description":"Domain name of verified DKIM signature or false if no valid signature was found","properties":{},"required":[]}},"required":["tls","spf","dkim"]},"bimi":{"type":"object","description":"BIMI logo info. If logo validation failed in any way, then this property is not set","properties":{"certified":{"type":"boolean","description":"If true, then this logo is from a VMC file","required":false},"url":{"type":"string","description":"URL of the resource the logo was retrieved from","required":false},"image":{"type":"string","description":"Data URL for the SVG image","required":false}},"required":[]},"contentType":{"type":"object","description":"Parsed Content-Type header. Usually needed to identify encrypted messages and such","properties":{"value":{"type":"string","description":"MIME type of the message, eg. \"multipart/mixed","required":true},"params":{"type":"object","description":"An object with Content-Type params as key-value pairs","properties":{},"required":[]}},"required":["value","params"]},"metaData":{"type":"object","description":"Custom metadata object set for this message","properties":{},"required":[]},"references":{"type":"array","items":{"$ref":"#/components/schemas/ReferenceWithAttachments"},"description":"References"},"files":{"type":"object","description":"List of files added to this message as attachments. Applies to Drafts, normal messages do not have this property. Needed to prevent uploading the same attachment every time a draft is updated","properties":{},"required":[]},"outbound":{"type":"array","items":{"type":"object","properties":{},"required":[]},"description":"Outbound queue entries"},"forwardTargets":{"type":"object","description":"Forward targets","properties":{},"required":[]},"reference":{"type":"object","description":"Referenced message info","properties":{},"required":[]},"answered":{"type":"boolean","description":"\\Answered flag value","required":true},"forwarded":{"type":"boolean","description":"$Forwarded flag value","required":true},"encrypted":{"type":"boolean","description":"True if message is encrypted","required":false}},"required":["success","id","mailbox","user","envelope","thread","from","subject","messageId","date","size","seen","deleted","flagged","draft","contentType","references","answered","forwarded"]}}}}}},"put":{"tags":["Messages"],"summary":"Update message information with path param","description":"This method updates message flags and also allows to move messages to a different mailbox","operationId":"putusersusermailboxesmailboxmessagesmessage","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"moveTo":{"type":"string","description":"ID of the target Mailbox if you want to move messages","required":false},"seen":{"type":"boolean","description":"State of the \\Seen flag","required":false},"deleted":{"type":"boolean","description":"State of the \\Deleted flag","required":false},"flagged":{"type":"boolean","description":"State of the \\Flagged flag","required":false},"draft":{"type":"boolean","description":"State of the \\Draft flag","required":false},"expires":{"oneOf":[{"type":"string","required":false,"format":"date-time"},{"type":"boolean","required":false,"enum":[false]}],"description":"Either expiration date or false to turn off autoexpiration"},"metaData":{"type":"object","description":"Optional metadata, must be an object or JSON formatted string","required":false,"format":"any"},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}},{"name":"message","in":"path","description":"Message ID. Either singular or comma separated number (1,2,3) or colon separated range (3:15), or a range from UID to end (3:*)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"id":{"type":"array","items":{"type":"object","properties":{},"required":[]},"description":"If messages were moved then lists new ID values. Array entry is an array with first element pointing to old ID and second to new ID"},"mailbox":{"type":"string","description":"MoveTo mailbox address","required":false},"updated":{"type":"number","description":"If messages were not moved, then indicates the number of updated messages","required":false}},"required":["success"]}}}}}},"delete":{"tags":["Messages"],"summary":"Delete a Message","operationId":"deleteusersusermailboxesmailboxmessagesmessage","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}},{"name":"message","in":"path","description":"Message ID","required":true,"schema":{"type":"number"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true}},"required":["success"]}}}}}}},"/users/:user/mailboxes/:mailbox/messages/:message/message.eml":{"get":{"tags":["Messages"],"summary":"Get Message source","description":"This method returns the full RFC822 formatted source of the stored message","operationId":"raw","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}},{"name":"message","in":"path","description":"Message ID","required":true,"schema":{"type":"number"}},{"name":"sess","in":"query","description":"Session identifier for the logs","required":false,"schema":{"type":"string"}},{"name":"ip","in":"query","description":"IP address for the logs ","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"message/rfc822":{"schema":{"type":"object","properties":{"success":{"type":"string","description":"Success","required":false,"format":"binary"}},"required":[]}}}}}}},"/users/:user/mailboxes/:mailbox/messages/:message/attachments/:attachment":{"get":{"tags":["Messages"],"summary":"Download Attachment","description":"This method returns attachment file contents in binary form","operationId":"attachment","parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}},{"name":"message","in":"path","description":"Message ID","required":true,"schema":{"type":"number"}},{"name":"attachment","in":"path","description":"ID of the Attachment","required":true,"schema":{"type":"string"}},{"name":"sendAsString","in":"query","description":"If true then sends the original attachment back in string format with correct encoding.","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"success":{"type":"string","required":false,"format":"binary"}},"required":[]}}}}}}},"/users/:user/mailboxes/:mailbox/messages/:message/forward":{"post":{"tags":["Messages"],"summary":"Forward stored Message","description":"This method allows either to re-forward a message to an original forward target or forward it to some other address. This is useful if a user had forwarding turned on but the message was not delivered so you can try again. Forwarding does not modify the original message.","operationId":"postusersusermailboxesmailboxmessagesmessageforward","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"target":{"type":"number","description":"Number of original forwarding target","required":false},"addresses":{"type":"array","items":{"type":"string","required":false},"description":"An array of additional forward targets"},"sess":{"type":"string","description":"Session identifier for the logs","required":false},"ip":{"type":"string","description":"IP address for the logs ","required":false}},"required":[]}}},"required":true},"parameters":[{"name":"user","in":"path","description":"Example: `507f1f77bcf86cd799439011`\nID of the User","required":true,"schema":{"type":"string"}},{"name":"mailbox","in":"path","description":"ID of the Mailbox","required":true,"schema":{"type":"string"}},{"name":"message","in":"path","description":"Message ID","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates successful response","required":true,"example":true},"queueId":{"type":"string","description":"Message ID in outbound queue","required":false},"forwarded":{"type":"array","items":{"$ref":"#/components/schemas/Forwarded"},"description":"Information about forwarding targets"}},"required":["success"]}}}}}}},"/users/:user/mailboxes/:mailbox/messages/:message/submit":{"post":{"tags":["Messages"],"summary":"Submit Draft for delivery","description":"This method allows to submit a draft message for delivery. Draft is moved to Sent mail folder.","operationId":"postusersusermailboxesmailboxmessagesmessagesubmit","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"deleteFiles":{"type":"boolean","description":"If true then deletes attachment files listed in metaData.files array","required":false},"sendTime":{"type":"
[...]
